Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Fix coverage: remove dead VuMark branches, add duplicate key tests
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix VuMark duplicate keys test isolation in Flask tests
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Create VuMarkTarget type for semantically correct VuMark fixture (#2968)
  docs/source/mock-api-reference.rst
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix mypy errors and stale 'databases' attribute reference
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove unnecessary isinstance checks for ImageTarget
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add database and target type support with VuMark validation (#2963)
  CHANGELOG.rst
  docs/source/mock-api-reference.rst
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/database.py
  src/mock_vws/database_type.py
  src/mock_vws/target.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix test isolation in Flask app database tests
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix type annotation in test cleanup
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add error handling for missing VuMark database deletion
  src/mock_vws/_flask_server/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix test isolation in Flask app database tests (#2971)
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add error handling for missing VuMark database deletion (#2972)
  src/mock_vws/_flask_server/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Clarify cloud vs VuMark database tests with split classes and updated names
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor request handling to use library-agnostic RequestData dataclass
  src/mock_vws/_mock_common.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Clarify cloud vs VuMark database tests with split classes and updated names (#2975)
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor request handling to use library-agnostic RequestData dataclass (#2976)
  src/mock_vws/_mock_common.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add respx support for mocking httpx requests
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/__init__.py
  src/mock_vws/_respx_mock_server/__init__.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix mypy error codes for type ignore comments
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix mypy type issues in respx implementation
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix ruff linting issue with dict comprehension
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use RequestData instead of PreparedRequest in respx adapter
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enforce keyword-only arguments
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add missing @beartype decorators
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump vws-python to 2026.02.21
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Enforce keyword-only arguments (#2977)
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use native pytest TOML configuration
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add content parameter to Response calls for vws-python 2026.2.21
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Quote pytest-retry options as strings
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump vws-python to 2026.2.21 (#2982)
  pyproject.toml
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Keep cumulative_timing as native bool
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use native pytest TOML configuration (#2979)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use VuMarkService in VuMark generation API tests
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add beartype to VuMark test helper functions
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use VuMarkService in VuMark generation API tests (#2984)
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix lint and type issues in respx mock docs
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add clarifying comment and test for unknown target in VuMark generation
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add clarifying comment and test for unknown target in VuMark generation (#2985)
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use keyword-only parameters in tests
  ci/test_custom_linters.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use keyword-only parameters in tests (#2986)
  ci/test_custom_linters.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
