Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

custom-linters:
  name: custom-linters
  entry: uv run --extra=dev -m pytest ci/test_custom_linters.py
  stages:
  - pre-push
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.5.20

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC2215"
  language: python
  additional_dependencies:
  - uv==0.5.20

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.5.20

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --verifytypes mock_vws
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.5.20

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.5.20

Run shfmt through the project environment
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Run shfmt through uv
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Install uv for prek hook commands
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
Due: custom-linters, actionlint, yamlfix

Run shfmt through uv (#3323)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Use prek-action and autofix.ci (#3322)
  .github/dependabot.yml
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Add Model Target generation warnings (#3321)
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/model-target-generation-warning.change
  src/mock_vws/__init__.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Validate Model Target JWT signatures
  docs/source/differences-to-vws.rst
  newsfragments/model-target-jwt-signature.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Remove unreachable empty-signature branch
  src/mock_vws/_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate Model Target JWT signatures (#3325)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-jwt-signature.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target dataset field types
  docs/source/differences-to-vws.rst
  newsfragments/model-target-dataset-field-types.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target dataset field types (#3327)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-dataset-field-types.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Require explicit content_type in test helpers
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Move MockVWS to a public module path
  src/mock_vws/__init__.py
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Move MockVWS to a public module path (#3330)
  src/mock_vws/__init__.py
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Require explicit content_type in test helpers (#3329)
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add no-defaults linting
  .pre-commit-config.yaml
  pyproject.toml
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/decorators.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Bump no-defaults to v1.0.1
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Run no-defaults as a local uv hook
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Drop the suppressions that are no longer needed
  pyproject.toml
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Validate Model Target model fields
  docs/source/differences-to-vws.rst
  newsfragments/model-target-model-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target model fields (#3332)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-model-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target guide view fields
  docs/source/differences-to-vws.rst
  newsfragments/model-target-view-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Remove the last default instead of suppressing it
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate Model Target guide view fields (#3333)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-view-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target guide view position fields
  docs/source/differences-to-vws.rst
  newsfragments/model-target-guide-view-position-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Lint reStructuredText prose with Vale
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  CHANGELOG.rst
  pyproject.toml
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Lint reStructuredText prose with Vale (#3336)
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  CHANGELOG.rst
  pyproject.toml
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Lint Markdown prose with Vale
  .pre-commit-config.yaml
  .vale.ini
Due: custom-linters, actionlint, yamlfix

Validate Model Target guide view position fields (#3335)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-guide-view-position-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Lint Markdown prose with Vale (#3340)
  .pre-commit-config.yaml
  .vale.ini
Due: custom-linters, actionlint, yamlfix

Remove the last default instead of suppressing it (#3334)
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate Model Target guide view position array elements
  docs/source/differences-to-vws.rst
  newsfragments/model-target-guide-view-position-numbers.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Reword docstring to satisfy pylint spelling check
  src/mock_vws/_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate Model Target guide view position array elements (#3341)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-guide-view-position-numbers.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Handle non-object Model Target dataset creation bodies
  docs/source/differences-to-vws.rst
  newsfragments/model-target-non-object-body.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Record the ProjectHasNoAPIAccess casing ambiguity
  docs/source/differences-to-vws.rst
  newsfragments/project-has-no-api-access-casing.change
  src/mock_vws/_constants.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Match the result codes table casing for ProjectHasNoApiAccess
  docs/source/differences-to-vws.rst
  newsfragments/project-has-no-api-access-casing.change
  src/mock_vws/_constants.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/project_state_validators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Handle non-object Model Target dataset creation bodies (#3342)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-non-object-body.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
