Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

custom-linters:
  name: custom-linters
  entry: pytest ci/custom_linters.py
  stages:
  - push
  language: system
  pass_filenames: false

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: pyright .
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: pyright --verifytypes mock_vws
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: vulture --min-confidence 100 --exclude .eggs
  language: system

pyroma:
  name: pyroma
  entry: pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: ruff check --fix
  language: system

ruff-format-fix:
  name: Ruff format
  entry: ruff format
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

interrogate:
  name: interrogate
  entry: interrogate src/ tests/ ci/
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

Make another helper private
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove one more use of a custom helper
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use keyword arguments for pytest raises
  tests/conftest.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use correct fixture name for cloud reco service
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Neaten some of the codebase
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/date_validators.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/json_validators.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/_services_validators/width_validators.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_get_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Undo bad change to kwarg takings of mock functions
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make some more validators use kword-only args
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove a use of getattr for a more type safe alternative
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add better logging for test_database_summary
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Simplify test_database_summary test for future debugging
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Change test_database_summary to pass
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Neaten test
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Run database summary tests in parallel on CI
  .github/workflows/ci.yml
Due: custom-linters, actionlint

Remove unnecessary 'from future' imports
  src/mock_vws/_database_matchers.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/usage_test_helpers.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use supported/typed response.text option, and requests which have the body sent as a string
  CHANGELOG.rst
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Handle request.text being None
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Ignore that body can be None in validators
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Support passing data as strings
  CHANGELOG.rst
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Expand coverage for _body_bytes methods
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: doc8

Use tenacity to simplify rety in test
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add back the logging
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use retry decorator for less nesting
  tests/mock_vws/test_database_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards test for data types
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards test
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Test it is possible to send strings to VWS endpoints
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use stable sort for pytest fixtures so that xdist works
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove sphinx-prompt dependency
  docs/source/ci-setup.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/docker.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/release-process.rst
  pyproject.toml
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

Enable running the pre-commit checks on pre-commit CI which do not require system Python
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Use sphinx-copybutton to add a copy button to documentation code blocks
  docs/source/conf.py
  pyproject.toml
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Address ruff issues
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_raters.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Check pytest parameters with typeguard
  conftest.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards type hinting
  conftest.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add initial mypy plugin
  mypy_plugin.py
  pyproject.toml
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Rm mypy_plugin
  mypy_plugin.py
  pyproject.toml
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Update for better checking
  conftest.py
  tests/mock_vws/test_add_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use typeguard to check pytest fixture/parametrization types
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Fix type hints for Python tests
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid a warning on Docker build
  src/mock_vws/_flask_server/Dockerfile
Due: none

Run beartype instead of typeguard
  conftest.py
  pyproject.toml
  spelling_private_dict.txt
  tests/conftest.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/usage_test_helpers.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
