Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Set release fetch-depth to 0 with a comment why
  .github/workflows/release.yml
Due: custom-linters, actionlint

Git ignore DS_Store files
  .gitignore
Due: none

Add sphinx-lint
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Add sphinx-lint
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Bump uv in pre-commit hooks to 0.5.20
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Use new format for pylint-per-file-ignores
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Work around orjson breakage
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove workaround for orjson issue now fixed
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump to Python 3.13 minimum version
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
  pyproject.toml
  readthedocs.yaml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Bump README and Dockerfile to Python 3.13
  README.rst
  src/mock_vws/_flask_server/Dockerfile
Due: doc8

No longer skip maximum image file size test
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use pylint from environment in VSCode
  .vscode/settings.json
Due: none

Use 'copy.replace' rather than dataclasses.replace - do not expect forever that `target` is a dataclass
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: doc8

Remove support for Python 3.10
  src/mock_vws/spelling_private_dict.txt
Due: none

Remove unnecessary strategy from release.yml
  .github/workflows/release.yml
Due: custom-linters, actionlint

Make sure GitHub releases are marked as latest
  .github/workflows/release.yml
Due: custom-linters, actionlint

Fix release parsing in conf.py
  docs/source/conf.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Error in release process if trying to commit changes and there are none
  .github/workflows/release.yml
Due: custom-linters, actionlint

Enable the uv cache in CI
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint

Remove unused version setting in conf.py
  docs/source/conf.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove double setting of autoclass content - just use both
  docs/source/conf.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid using datetime.fromtimestamp
  src/mock_vws/_query_validators/date_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use sphinx-pyproject to remove duplication
  docs/source/conf.py
  pyproject.toml
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Switch from ReadTheDocs to GitHub Pages
  .github/workflows/publish-site.yml
  README.rst
  pyproject.toml
  readthedocs.yaml
Due: custom-linters, actionlint, mypy, pyright, pyroma, doc8, pyproject-fmt-fix

Bump uv in pre-commit
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Fix add_target Oops test on real Vuforia
  tests/mock_vws/test_add_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove Oops error for character out of range - the error doesn't seem to happen now
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/resources/oops_error_occurred_response.html
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix mypy
  tests/mock_vws/test_add_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove resources directory which is no longer needed
  .pre-commit-config.yaml
  MANIFEST.in
  src/mock_vws/resources/deleted_target_matched_response.html
Due: custom-linters, actionlint

Expect BadImageError on corrupted image
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add validator for image integrity
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/image_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Handle image not in data
  src/mock_vws/_services_validators/image_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Update more tests to handle new response for corrupted images
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_target_raters.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Account for moved `Response` in `vws`
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/too_many_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate
