Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Add tests for using the mock as a decorator (#3450)
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Factor out repeated validator exception response construction
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_services_validators/exceptions.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Pin moving GitHub Actions references
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Document fixed x-aws-region response value
  docs/source/differences-to-vws.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Correct CI secrets setup documentation
  docs/source/ci-setup.rst
  docs/source/contributing.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Reject non-object JSON request bodies
  src/mock_vws/_services_validators/json_validators.py
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Allow immediate recognition summary updates
  tests/mock_vws/test_database_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Update permanently redirected documentation links
  docs/source/contributing.rst
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Match routed Vuforia 404 HTML responses
  docs/source/differences-to-vws.rst
  src/mock_vws/_flask_server/vws.py
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Update permanently redirected documentation links (#3460)
  docs/source/contributing.rst
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Correct CI secrets setup documentation (#3456)
  docs/source/ci-setup.rst
  docs/source/contributing.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Mock exhausted Model Target training allowance
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
  newsfragments/3462.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/decorators.py
  tests/mock_vws/test_model_target_training_allowance.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Describe current recognition counter behavior
  tests/mock_vws/test_database_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Explain Model Target account allowance failures
  tests/mock_vws/fixtures/model_target_prepared_requests.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Redistribute Vuforia CI credentials
  .github/workflows/test.yml
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Isolate each call of a function decorated with a MockVWS instance
  docs/source/basic-example.rst
  newsfragments/mock-vws-decorator.change
  src/mock_vws/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Allow 'unrouted' in the private spelling dictionary.
  spelling_private_dict.txt
Due: none

Reuse Vuforia secrets when the CI matrix exceeds 100 jobs.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Replace local limit helpers with vws-test-fixtures.
  pyproject.toml
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_update_target.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix query corrupted-image test for updated fixture.
  spelling_private_dict.txt
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Switch pre-commit config from YAML to prek.toml
  .dockerignore
  .pre-commit-config.yaml
  prek.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, yamlfix

Map CI secret files with job-index modulo 100
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

chore(deps): Bump pyproject-fmt from 2.27.0 to 2.28.0
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

chore(deps): Bump pyproject-fmt from 2.27.0 to 2.28.0
  uv.lock
Due: none

Skip Real Vuforia backends on pull_request CI.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Only pass --skip-real for mock_vws CI patterns.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Allow 99% coverage on PRs when Real Vuforia is skipped.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Lower pyproject coverage gate on PRs via sed.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Gate PR coverage with an explicit 99% total check.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Fix PR coverage gate shell quoting and exit handling.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Lower fail_under before coverage html on pull requests.
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

ci: skip Real Vuforia on pull requests (#3484)
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

chore(deps): Bump types-docker from 7.2.0.20260811 to 7.2.0.20260813
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Revert "ci: skip Real Vuforia on pull requests (#3484)"
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Ignore beartype decorator for mypy-strict-kwargs 2026.8+.
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump mypy-strict-kwargs to 2026.8.25
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump to mypy-strict-kwargs 2026.8.25.1
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3462.change
  newsfragments/concurrent-request-state.change
  newsfragments/mock-vws-decorator.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add configurable Model Target failures
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/3495.change
  src/mock_vws/__init__.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/decorators.py
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_failure_response.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3495.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint
