Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Switch from Docker Hub to GHCR for image registry (#3046)
  .github/workflows/release.yml
  docker-bake.hcl
  docs/source/docker.rst
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Fix zizmor lint (#3045)
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
  zizmor.yml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Remove unused dependabot/fetch-metadata step
  .github/workflows/dependabot-merge.yml
Due: custom-linters, actionlint, yamlfix

Fix test coverage for boundary error handling
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix test coverage for boundary error handling (#3052)
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Move release and tag version into env vars to prevent template injection
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Enable template-injection rule in zizmor config
  zizmor.yml
Due: custom-linters, actionlint, yamlfix

Fix template-injection in Check steps
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Fix remaining template-injection findings and check-manifest
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

fix: quote JOB_INDEX in cp command for shellcheck SC2086
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

fix: use pull_request.user.login instead of github.actor for bot check (fixes adamtheturtle/literalizer#146)
  .github/workflows/dependabot-merge.yml
  zizmor.yml
Due: custom-linters, actionlint, yamlfix

Apply pyproject-fmt 2.20.0 formatting
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump doccmd to 2026.3.26.2
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Harden mock dataclasses with kw_only and freeze route types
  src/mock_vws/_mock_common.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix beartype crash on Windows by widening type hint to pytest.Item
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor timeout and body handling to use match statements
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use wildcard case for body to preserve original fallthrough behavior
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Handle (connect, None) timeout tuples correctly
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor timeout and body handling to use match statements (#3112)
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

chore: rename deptry pep621_dev_dependency_groups
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

chore: rename deptry pep621_dev_dependency_groups (#3115)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use pytest-beartype-tests plugin for test beartype
  conftest.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Pin pytest-beartype-tests to git revision (Sybil-safe)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI (#3118)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

chore: define uv version once in pre-commit config
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

chore: define uv version once in pre-commit config (#3123)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks (#3124)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

fix: silence pyright 1.1.409 reportPrivateImportUsage on torch.tensor
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use sphinx-toolbox 4.2.0rc1 for Sphinx 9 compatibility
  docs/source/conf.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Document why autodoc_use_legacy_class_based is set
  docs/source/conf.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Temporarily remove enum_tools usage
  docs/source/conf.py
  docs/source/mock-api-reference.rst
  pyproject.toml
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Drop pytest-beartype-tests due to Python 3.14 annotation issue
  conftest.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Apply ruff format (PEP 758 except syntax)
  src/mock_vws/_flask_server/healthcheck.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Restore pytest-beartype-tests; disable plugin in repeated pytest.main calls
  ci/test_custom_linters.py
  conftest.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Unquote type annotations in create_secrets_files
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Ignore .claude/scheduled_tasks.lock
  .gitignore
Due: none

Add 'stringify' to spelling dict
  spelling_private_dict.txt
Due: none
