Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

custom-linters:
  name: custom-linters
  entry: uv run --extra=dev -m pytest ci/test_custom_linters.py
  stages:
  - pre-push
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.5.20

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC2215"
  language: python
  additional_dependencies:
  - uv==0.5.20

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.5.20

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --verifytypes mock_vws
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.5.20

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.5.20

Harden real Vuforia tests against transient failures and exhausted allowance (#3527)
  docs/source/contributing.rst
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add HTTPX2 in-process mock support
  .github/workflows/test.yml
  README.rst
  docs/source/basic-example.rst
  docs/source/differences-to-vws.rst
  docs/source/getting-started.rst
  docs/source/httpx2-example.rst
  docs/source/index.rst
  newsfragments/3507.change
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_httpx2_mock_server/__init__.py
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/decorators.py
  tests/mock_vws/test_cloud_query_failure_response.py
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_vumark_generation_failure.py
  tests/mock_vws/utils/httpx2_transports.py
  uv.lock
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Cover container-split behavior in the Docker tests
  pyproject.toml
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Bring the HTTPX2 paths to full coverage
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/utils/httpx2_transports.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Cover container-split behavior in the Docker tests (#3545)
  pyproject.toml
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Point the stand-in transports at their follow-up issue
  tests/mock_vws/utils/httpx2_transports.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add HTTPX2 in-process mock support (#3543)
  .github/workflows/test.yml
  README.rst
  docs/source/basic-example.rst
  docs/source/differences-to-vws.rst
  docs/source/getting-started.rst
  docs/source/httpx2-example.rst
  docs/source/index.rst
  newsfragments/3507.change
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_httpx2_mock_server/__init__.py
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/decorators.py
  tests/mock_vws/test_cloud_query_failure_response.py
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_vumark_generation_failure.py
  tests/mock_vws/utils/httpx2_transports.py
  uv.lock
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Distinguish unverified mock behavior from verified behavior
  .github/workflows/test.yml
  admin/verification_report.py
  docs/source/contributing.rst
  docs/source/differences-to-vws.rst
  docs/source/index.rst
  docs/source/unverified-behavior.rst
  newsfragments/3445.change
  prek.toml
  pyproject.toml
  spelling_private_dict.txt
  tests/conftest.py
  tests/mock_vws/fixtures/verification.py
  tests/mock_vws/test_cloud_query_failure_response.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_healthcheck.py
  tests/mock_vws/test_model_target_failure_response.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/test_model_target_training_allowance.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_raters.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_target_validators.py
  tests/mock_vws/test_verification.py
  tests/mock_vws/test_vumark_generation_api.py
  tests/mock_vws/test_vumark_generation_failure.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/verification.py
  verification.toml
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Consult nested mocks innermost-first on the httpx backend
  newsfragments/3544.change
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Inline the router reordering instead of an impure helper
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Map CI checkout paths so Windows coverage data combines on Linux
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Consult nested mocks innermost-first on the httpx backend (#3548)
  newsfragments/3544.change
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Keep the unverified behavior docs, drop the test verification machinery
  .github/workflows/test.yml
  admin/verification_report.py
  docs/source/contributing.rst
  docs/source/unverified-behavior.rst
  newsfragments/3445.change
  prek.toml
  pyproject.toml
  spelling_private_dict.txt
  tests/conftest.py
  tests/mock_vws/fixtures/verification.py
  tests/mock_vws/test_cloud_query_failure_response.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_healthcheck.py
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/test_model_target_failure_response.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/test_model_target_training_allowance.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_raters.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_target_validators.py
  tests/mock_vws/test_verification.py
  tests/mock_vws/test_vumark_generation_api.py
  tests/mock_vws/test_vumark_generation_failure.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/verification.py
  verification.toml
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Verify that an update does not reset the tracking rating to -1
  .github/workflows/test.yml
  docs/source/contributing.rst
  docs/source/differences-to-vws.rst
  src/mock_vws/target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Put one sentence per line in the unverified behavior docs
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Verify that an update does not reset the tracking rating to -1 (#3549)
  .github/workflows/test.yml
  docs/source/contributing.rst
  docs/source/differences-to-vws.rst
  src/mock_vws/target.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Reject an empty body on VWS endpoints which take JSON
  .github/workflows/test.yml
  newsfragments/3550.change
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/json_validators.py
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Reject an empty body on VWS endpoints which take JSON (#3551)
  .github/workflows/test.yml
  newsfragments/3550.change
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/json_validators.py
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Build the services validator chains once, per route
  newsfragments/3371.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/database_id_validators.py
  src/mock_vws/_services_validators/date_validators.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/instance_id_validators.py
  src/mock_vws/_services_validators/json_validators.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/request_quota_validators.py
  src/mock_vws/_services_validators/request_rate_limiter.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/_services_validators/routes.py
  src/mock_vws/_services_validators/target_quota_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/_services_validators/width_validators.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document which mock behavior is unverified against real Vuforia (#3552)
  docs/source/differences-to-vws.rst
  docs/source/index.rst
  docs/source/unverified-behavior.rst
  newsfragments/3445.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3356.change
  newsfragments/3386.change
  newsfragments/3392.change
  newsfragments/3394.change
  newsfragments/3445.change
  newsfragments/3498.change
  newsfragments/3507.change
  newsfragments/3544.change
  newsfragments/3550.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use pytest-multi-backend for the multi-backend test harness
  .github/workflows/test.yml
  docs/source/contributing.rst
  pyproject.toml
  tests/backend_harness.py
  tests/mock_vws/fixtures/vuforia_backends.py
  uv.lock
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Pin pytest-multi-backend to its first PyPI release
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use pytest-multi-backend for the multi-backend test harness (#3561)
  .github/workflows/test.yml
  docs/source/contributing.rst
  pyproject.toml
  tests/backend_harness.py
  tests/mock_vws/fixtures/vuforia_backends.py
  uv.lock
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Accept a settled tracking rating in test_target_summary
  tests/mock_vws/test_target_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry the upload and first poll in test_target_summary
  tests/mock_vws/test_target_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Drop redundant image rewind
  tests/mock_vws/test_target_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Build the services validator chains once, per route (#3562)
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/database_id_validators.py
  src/mock_vws/_services_validators/date_validators.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/instance_id_validators.py
  src/mock_vws/_services_validators/json_validators.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/request_quota_validators.py
  src/mock_vws/_services_validators/request_rate_limiter.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/_services_validators/routes.py
  src/mock_vws/_services_validators/target_quota_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/_services_validators/width_validators.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use mock-response-delay for the response delay and timeout simulation
  newsfragments/3415.change
  pyproject.toml
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Retry the upload and first poll in test_target_summary (#3563)
  tests/mock_vws/test_target_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Lock mock-response-delay 2026.9.7
  uv.lock
Due: none

Use mock-response-delay for the response delay and timeout simulation (#3564)
  newsfragments/3415.change
  pyproject.toml
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  src/mock_vws/decorators.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Rename the DOCKER_IN_MEMORY test backend to FLASK_IN_PROCESS
  .github/workflows/test.yml
  docs/source/contributing.rst
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Use vws-python's own HTTPX2 transports in the tests
  pyproject.toml
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/utils/httpx2_transports.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Rename the DOCKER_IN_MEMORY test backend to FLASK_IN_PROCESS (#3565)
  .github/workflows/test.yml
  docs/source/contributing.rst
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Use vws-python's own HTTPX2 transports in the tests (#3566)
  pyproject.toml
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/utils/httpx2_transports.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Remove workarounds for closed pyrefly issue 1897
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Make pyrefly error on unused ignore comments
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use the pyrefly strict preset
  pyproject.toml
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Parse the request body once per request in the validators
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/multipart.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/instance_id_validators.py
  src/mock_vws/_services_validators/json_validators.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/width_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
