Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: pyright .
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: pyright --verifytypes mock_vws
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: vulture --min-confidence 100 --exclude .eggs .
  language: system
  pass_filenames: false

pyroma:
  name: pyroma
  entry: pyroma --min 10 .
  language: system
  pass_filenames: false

Move hadolint lint step to pre-commit
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  src/mock_vws/_flask_server/Dockerfile
Due: actionlint

Progress towards ruff pre-commit
  .pre-commit-config.yaml
Due: actionlint

Move ruff and doc8 to pre-commit
  .pre-commit-config.yaml
  lint.mk
Due: actionlint

Move pyproject-fmt to pre-commit
  .pre-commit-config.yaml
  lint.mk
  src/mock_vws/_flask_server/Dockerfile
Due: actionlint

Add docs to pre-commit
  .pre-commit-config.yaml
  lint.mk
Due: actionlint

Fix vulture error
  .pre-commit-config.yaml
  src/mock_vws/target.py
Due: actionlint, pyright-verifytypes, vulture

Use Self type
  .pre-commit-config.yaml
  docs/source/contributing.rst
  src/mock_vws/database.py
  src/mock_vws/target.py
Due: actionlint, pyright-verifytypes, vulture

Do not fix whitespace on resource files
  .pre-commit-config.yaml
  src/mock_vws/resources/oops_error_occurred_response.html
Due: actionlint

Commit changes from lint stage
  .github/workflows/lint.yml
Due: actionlint

Remove ruff / pyproject-fmt hooks which just check
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: actionlint

Try using pre-commit ci for the lite action
  .github/workflows/lint.yml
Due: actionlint

Small commit to test CI
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Add project name in Contributing docs title
  docs/source/contributing.rst
Due: none

Use quotes to make pip install command more cross-shell compatible
  docs/source/contributing.rst
Due: none

Bump types-docker
  pyproject.toml
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture, pyroma

Move pyproject.toml comment
  pyproject.toml
Due: pyroma

Remove unnecessary pyright ignores
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Use types_or for better pre-commit matching
  .pre-commit-config.yaml
Due: actionlint

Remove pyright ignore
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Remove unnecessary isinstance call
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Add more pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

Simplify pre-commit install process
  .pre-commit-config.yaml
  docs/source/contributing.rst
Due: actionlint

Use interrogate to enforce docstring coverage
  pyproject.toml
  src/mock_vws/_flask_server/__init__.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
Due: pyright-verifytypes, vulture, pyroma

Add interrogate to pre-commit
  .pre-commit-config.yaml
Due: actionlint

Remove unnecessary pyright ignore
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Update VWS links to work again
  docs/source/contributing.rst
  docs/source/differences-to-vws.rst
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/assertions.py
Due: pyright-verifytypes, vulture

Remove duplication of network name choice
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Remove unnecessary pyright ignore and isinstance checks
  tests/mock_vws/test_docker.py
Due: pyright-verifytypes, vulture

Introduce torchmetrics in place of piq in one place
  pyproject.toml
  src/mock_vws/image_matchers.py
Due: pyright-verifytypes, vulture, pyroma

Remove indirect requirement - torch
  pyproject.toml
Due: pyroma

Use torchvision in a different way to avoid type errors
  src/mock_vws/image_matchers.py
Due: pyright-verifytypes, vulture

Use new style in a new place
  src/mock_vws/target_raters.py
Due: pyright-verifytypes, vulture

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$ and \.toml$
  pyright: any of: \.py$ and \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
