Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

custom-linters:
  name: custom-linters
  entry: uv run --extra=dev -m pytest ci/test_custom_linters.py
  stages:
  - pre-push
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.5.20

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC2215"
  language: python
  additional_dependencies:
  - uv==0.5.20

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.5.20

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --verifytypes mock_vws
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.5.20

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.5.20

Switch from pre-commit to prek
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  docs/source/contributing.rst
  pyproject.toml
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Switch from pre-commit to prek (#2823)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  docs/source/contributing.rst
  pyproject.toml
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Make prettier more compatible with yamlfix
  .prettierrc
Due: none

Add zizmor
  zizmor.yml
Due: custom-linters, actionlint, yamlfix

Fix prettier
  .prettierrc
Due: none

Fix zizmor
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Make zizmor collection strict
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Fix zizmor warning in release workflow
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Fix block scalar newline interpretation in release workflow
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Fix zizmor warning in release workflow (#2826)
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Use literal block scalar for changelog replace string
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Use literal block scalar for changelog replace string (#2828)
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Bump doc8
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Revert "Bump sphinx from 8.2.3 to 9.1.0"
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use bash shell for Lint step to ensure early failure
  .github/workflows/lint.yml
Due: custom-linters, actionlint, yamlfix

Remove --example-workers 0 from mypy-docs hook
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Add comment explaining why --example-workers 0 is not used for mypy-docs
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Remove --example-workers 0 from mypy-docs
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Remove --example-workers 0 from mypy-docs hook (#2869)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Remove --example-workers 0 from mypy-docs (#2870)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Support Python 3.14
  .github/workflows/lint.yml
  .github/workflows/test.yml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Don't bump Sphinx
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Fix secrets file lookup for multi-Python matrix
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Support only 3.14
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  .github/workflows/test.yml
  README.rst
  pyproject.toml
  src/mock_vws/_flask_server/Dockerfile
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Add VuMark Generation API endpoint (#473)
  pyproject.toml
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/_vumark_generators.py
  src/mock_vws/_vumark_validators/__init__.py
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Ignore ruff TC rules until beartype supports TYPE_CHECKING
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Fix type annotations and mypy errors
  src/mock_vws/_vumark_generators.py
  src/mock_vws/_vumark_validators/__init__.py
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix pylint spelling errors in VuMark implementation
  spelling_private_dict.txt
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove runtime beartype application to test functions
  conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Format pyproject.toml
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add response_delay_seconds parameter to MockVWS for testing timeouts
  pyproject.toml
  src/mock_vws/_requests_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix CI: remove local vws-python dependency
  pyproject.toml
  src/mock_vws/_requests_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Work around toml-fmt array comment bugs
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.0 and apply formatting
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
