Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

custom-linters:
  name: custom-linters
  entry: uv run --extra=dev -m pytest ci/test_custom_linters.py
  stages:
  - pre-push
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.5.20

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC2215"
  language: python
  additional_dependencies:
  - uv==0.5.20

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.5.20

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --verifytypes mock_vws
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.5.20

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.5.20

Fix mypy typing in target validator test
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Resolve pyright typing in validator test
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove uncovered branches from generate_vumark_instance
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use valid default target ID for VuMark database settings
  tests/mock_vws/fixtures/credentials.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use valid target ID placeholder in vuforia_secrets.env.example
  vuforia_secrets.env.example
Due: none

Update uv to 0.10.4 in Dockerfile
  src/mock_vws/_flask_server/Dockerfile
Due: none

Use CPU-only torch for Docker builds to reduce image size
  pyproject.toml
  src/mock_vws/_flask_server/Dockerfile
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Fix torchvision CPU index and Docker venv creation
  pyproject.toml
  src/mock_vws/_flask_server/Dockerfile
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add torchvision as direct dependency for CPU index source to apply
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Document CPU-only torch installation to speed up pip installs
  docs/source/installation.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Remove redundant VIRTUAL_ENV variable from Dockerfile
  src/mock_vws/_flask_server/Dockerfile
Due: none

Remove unused default VuMark target ID
  tests/mock_vws/fixtures/credentials.py
  vuforia_secrets.env.example
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Update expected Jetty version to 12.1.6
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Normalize Jetty version when asserting query error response
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use keyword argument for re.compile
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use keyword arguments for re Pattern sub calls
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Replace angle bracket placeholders with alphanumeric examples in env file
  vuforia_secrets.env.example
Due: none

Replace angle bracket placeholders with alphanumeric examples in env file (#2950)
  vuforia_secrets.env.example
Due: none

Use Debian base image with uv installed from official Docker image
  src/mock_vws/_flask_server/Dockerfile
Due: none

Use uv image with Python 3.13 as base
  src/mock_vws/_flask_server/Dockerfile
Due: none

Add comprehensive VuMark instance generation tests and mock support
  docs/source/differences-to-vws.rst
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use Debian base image with uv installed from official Docker image (#2952)
  src/mock_vws/_flask_server/Dockerfile
Due: none

Fix mypy errors in VuMark tests and Flask handler
  src/mock_vws/_flask_server/vws.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add svg and pdf to spelling private dictionary
  spelling_private_dict.txt
Due: none

Retry delete_target if TargetStatusProcessingError after update_target
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Complete remaining todos: ResultCodes constants, spelling revert, retry
  docs/source/differences-to-vws.rst
  spelling_private_dict.txt
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Extract multipart parsing helper; revert retry changes to separate issue
  src/mock_vws/_query_validators/image_validators.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document VuMark instance image differences from real Vuforia
  docs/source/differences-to-vws.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Simplify valid_accept_types: content type equals accept key
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Group VuMark generation tests in TestGenerateInstance class
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document VuMark instance image differences from real Vuforia (#2956)
  docs/source/differences-to-vws.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Make test_generate_instance_success a static method
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Extract multipart parsing into _parse_multipart_files helper
  src/mock_vws/_query_validators/image_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Group VuMark generation tests in class (#2957)
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Extract multipart parsing into _parse_multipart_files helper (#2958)
  src/mock_vws/_query_validators/image_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove duplicate _parse_multipart_files introduced by merge
  src/mock_vws/_query_validators/image_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix Docker build on PRs; remove duplicate rst section
  .github/workflows/docker-build.yml
  docs/source/differences-to-vws.rst
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Revert docker-build.yml change; Docker failure was transient
  .github/workflows/docker-build.yml
Due: custom-linters, actionlint, yamlfix

Add comprehensive VuMark instance generation tests (#2954)
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
