Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Link to the ``pytest`` issue for the private fixture type import
  tests/backend_harness.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add a fixture factory to the multi-backend test harness (#3416)
  tests/backend_harness.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Catch connection errors in the Docker health check
  .github/workflows/test.yml
  newsfragments/healthcheck-connection-refused.change
  pyproject.toml
  src/mock_vws/_flask_server/healthcheck.py
  tests/mock_vws/test_healthcheck.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Catch connection errors in the Docker health check (#3417)
  .github/workflows/test.yml
  newsfragments/healthcheck-connection-refused.change
  pyproject.toml
  src/mock_vws/_flask_server/healthcheck.py
  tests/mock_vws/test_healthcheck.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Switch Vale to the upstream ai-tells package
  .pre-commit-config.yaml
  .vale.ini
Due: custom-linters, actionlint, yamlfix

Fix two spots where a project convention is broken (#3401)
  .pre-commit-config.yaml
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/auth_validators.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Fix two spots where a project convention is broken (#3401) (#3419)
  .pre-commit-config.yaml
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/auth_validators.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Switch Vale to the upstream ai-tells package (#3418)
  .pre-commit-config.yaml
  .vale.ini
Due: custom-linters, actionlint, yamlfix

Document the Docker environment variables the applications read (#3387)
  docs/source/docker.rst
  newsfragments/docker-documentation-target-manager-base-url.change
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Configure mypy to respect gitignore
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Pin the coverage version used by the coverage gate
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Drop the documentation-scraping tests
  docs/source/docker.rst
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Pin the coverage version used by the coverage gate (#3422)
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Generate the Docker configuration documentation from the settings
  docs/source/conf.py
  docs/source/docker.rst
  docs/source/settings_envvars.py
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_flask_server/__init__.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Configure mypy to respect gitignore (#3421)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Name the missing secrets file when credentials cannot be loaded
  .github/workflows/test.yml
  pyproject.toml
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/test_credentials_loading.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Treat standard and advanced Model Target datasets as separate resources
  docs/source/differences-to-vws.rst
  newsfragments/model-target-dataset-type-routes.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Treat standard and advanced Model Target datasets as separate resources (#3424)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-dataset-type-routes.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Support cadDataBlob for Model Target dataset creation
  docs/source/differences-to-vws.rst
  newsfragments/model-target-cad-data-blob.change
  newsfragments/model-target-model-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Avoid a no-branch pragma in the cadDataBlob test
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Decorate the new test helpers with beartype
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Support cadDataBlob for Model Target dataset creation (#3425)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-cad-data-blob.change
  newsfragments/model-target-model-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Retry the target_id fixture when a target processes to a failed state
  tests/conftest.py
  tests/mock_vws/test_delete_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove waits made redundant by the target_id fixture
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add an unprocessed_target_id fixture for tests which do not wait
  tests/conftest.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_target_list.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Revert "Generate the Docker configuration documentation from the settings"
  docs/source/conf.py
  docs/source/docker.rst
  docs/source/settings_envvars.py
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_flask_server/__init__.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Document the Docker environment variables the applications read (#3387) (#3420)
  docs/source/docker.rst
  newsfragments/docker-documentation-target-manager-base-url.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use a high quality image for the target_id fixtures
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Exclude the target retry failure path from coverage
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry the target_id fixture when a target processes to a failed state (#3428)
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Build Docker images from a committed lockfile with a .dockerignore
  .dockerignore
  .github/dependabot.yml
  .gitignore
  newsfragments/docker-image-lockfile.change
  pyproject.toml
  src/mock_vws/_flask_server/Dockerfile
  uv.lock
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Validate VuMark instance_id type in a shared validator
  docs/source/differences-to-vws.rst
  newsfragments/vumark-instance-id-type.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/instance_id_validators.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add a parametrised cross-cutting fixture for Model Target endpoints
  .github/workflows/test.yml
  tests/conftest.py
  tests/mock_vws/fixtures/model_target_prepared_requests.py
  tests/mock_vws/test_model_target_cross_cutting.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Create /app with the correct owner for the legacy Docker builder
  src/mock_vws/_flask_server/Dockerfile
Due: none

Keep the CI test matrix at one hundred entries
  .github/workflows/test.yml
  tests/mock_vws/test_model_target_cross_cutting.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Match real Vuforia validation for non-string VuMark instance IDs
  docs/source/differences-to-vws.rst
  newsfragments/vumark-instance-id-type.change
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/instance_id_validators.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add beartype to Model Target test helpers
  tests/mock_vws/fixtures/model_target_prepared_requests.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Narrow the VuMark test helper instance_id type to JSON values
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Build Docker images from a committed lockfile with a .dockerignore (#3430)
  .dockerignore
  .github/dependabot.yml
  .gitignore
  newsfragments/docker-image-lockfile.change
  pyproject.toml
  src/mock_vws/_flask_server/Dockerfile
  uv.lock
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add a parametrised cross-cutting fixture for Model Target endpoints (#3432)
  tests/conftest.py
  tests/mock_vws/fixtures/model_target_prepared_requests.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
