Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Unquote type annotations in create_secrets_files (#3126)
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Ignore .claude/scheduled_tasks.lock (#3127)
  .gitignore
Due: none

Use real subprocess for pytest collection to avoid plugin state accumulation
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add new tests to CI matrix; exclude meta-tests from collected-once check
  .github/workflows/test.yml
  ci/test_custom_linters.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Fix vacuous meta-test and add missing CI matrix entries
  .github/workflows/test.yml
  ci/test_custom_linters.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Speed up custom linter tests by collecting once
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Assert pytest collection succeeded in custom linter fixture
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Revert linter speedup; use authoritative pytest selection
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix test_tests_collected_once collecting nothing
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Add missing test files to CI matrix
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Use a single **/*.rst entry in the CI matrix
  .github/workflows/test.yml
  ci/test_custom_linters.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Use docs/ as a single CI matrix entry instead of per-rst entries
  .github/workflows/test.yml
  ci/test_custom_linters.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Make test_tests_collected_once actually verify coverage (#3130)
  .github/workflows/test.yml
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Include ci/ in coverage source
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Restore Python 3.14 in test workflow matrix after merge
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Use real subprocess in test_custom_linters to avoid beartype state accumulation
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use setdefault to collect patterns per test
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add 'subprocess' to spelling dict
  spelling_private_dict.txt
Due: none

Include ci/ in coverage source for 100% requirement (#3131)
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

fix: allowlist reportPrivateImportUsage in pylint spelling dict
  spelling_private_dict.txt
Due: none

fix: disable pytest-beartype-tests in nested collection runs
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

fix: disable pytest-beartype-tests in nested collection runs (#3132)
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Re-apply subprocess collection: in-process approach fails on Python 3.14 full-suite runs
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump pytest-beartype-tests to 2026.4.26; revert subprocess workaround in ci/test_custom_linters.py
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Run coverage tool on Python 3.14 to parse PEP 758 except syntax
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Set Python 3.14 via setup-uv python-version on coverage job
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Drop comment on coverage job python-version
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Support Python 3.14 (#2871)
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  .github/workflows/test.yml
  README.rst
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_flask_server/Dockerfile
  src/mock_vws/_flask_server/healthcheck.py
  src/mock_vws/target_raters.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

ci: bump astral-sh/setup-uv from v7 to v8.1.0
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Bump mypy to 2.0.0 and enable parallel checking
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Bump mypy to 2.0.0 and enable parallel checking (#3146)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Dump container logs and health probes on healthcheck failure
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix pylint spelling: healthcheck -> health check in docstring
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Dump container logs and health probes on healthcheck failure (#3148)
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enable mypy parallel workers in pre-commit.
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Start Docker for Windows tests
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Upload Windows coverage data
  .github/workflows/test.yml
  pyproject.toml
  tests/mock_vws/test_docker.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Cover unexpected Docker build errors
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix Docker test lint
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
