Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

custom-linters:
  name: custom-linters
  entry: pytest ci/custom_linters.py
  stages:
  - push
  language: system
  pass_filenames: false

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: pyright .
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: pyright --verifytypes mock_vws
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: vulture --min-confidence 100 --exclude .eggs
  language: system

pyroma:
  name: pyroma
  entry: pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: ruff check --fix
  language: system

ruff-format-fix:
  name: Ruff format
  entry: ruff format
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

interrogate:
  name: interrogate
  entry: interrogate src/ tests/ ci/
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

For now, ignore false positive error
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Try using hadolint official pre-commit hook
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Bump hadolint
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Try a hadolint pre-commit hook which downloads the binary
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Revert bad attempt at fixing shellcheck issue
  docs/source/docker.rst
Due: doc8

Try running Docker tests on Windows
  tests/mock_vws/test_docker.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use max supported Python version for explicit pyproject-fmt configuration
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove workaround for CRLF line endings now we tell git to check out with lf
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Move shellcheck settings to rc file
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Bump doccmd
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Configure VSCode to run tests in its UI
  .vscode/settings.json
Due: none

Move mypy file definitions to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

No need to give directory to check-manifest
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Update version scheme to produce good documentation
  docs/source/conf.py
  pyproject.toml
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Make compatible with pydantic-settings 2.6.0
  pyproject.toml
  tests/mock_vws/fixtures/credentials.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Cap pydantic-settings version
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Pin uv for pre-commit hook
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Remove unnecessary build dependency - pip
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use faster mypy cache
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add minimum version for pydantic-settings
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use @unique to ensure and communicate enum uniqueness
  src/mock_vws/_constants.py
  src/mock_vws/states.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add minimum versions for dependencies
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Do not run doccmd against Python or toml files
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Sort __all__
  src/mock_vws/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Update RTD config with new requirements
  readthedocs.yaml
Due: custom-linters, actionlint

Do not use now-useless toml specifier for setuptools-scm
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove the final type: ignore!
  pyproject.toml
  src/mock_vws/target_raters.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Ignore pyright error
  src/mock_vws/target_raters.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Start of using keyword arguments everywhere
  admin/create_secrets_files.py
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Add more keyword arguments
  docs/source/conf.py
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/healthcheck.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_target_summary.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add more keyword arguments
  src/mock_vws/_services_validators/content_length_validators.py
  tests/conftest.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use keyword arguments in more places
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Work around the fact that dict does not truly implement Mapping (get needs positional args in dict)
  src/mock_vws/_database_matchers.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add new plugin
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Fix one keyword argument
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Only allow asserts in tests
  admin/create_secrets_files.py
  docs/source/conf.py
  pyproject.toml
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/target_raters.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Bump plugin
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use more keyword arguments in docs
  README.rst
  docs/source/basic-example.rst
Due: doc8

Disable type ignore comments for pyright
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
