Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Move inactive database test to existing test file
  tests/mock_vws/test_vumark_generation.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use verify_mock_vuforia for inactive database test
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor variable names to clarify cloud databases (#3004)
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Rename inactive_database fixture to inactive_cloud_database
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use context manager for PIL Image.open to ensure proper resource cleanup (#3000)
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Rename inactive_database fixture to inactive_cloud_database (#3005)
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor TestTargetStatusNotSuccess to use verify_mock_vuforia fixture
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add shared inactive VuMark database to secrets files
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Give processing_target_id a generated default
  tests/mock_vws/fixtures/credentials.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add shared inactive VuMark database to secrets files (#3012)
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Move processing target tests to mock_only_vuforia class
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Move test_successful_target into TestGenerateInstance
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use verify_mock_vuforia on TestTargetStatusNotSuccess (#3006)
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add inactive VuMark credentials to secrets archive
  admin/add_inactive_vumark_secrets.py
  secrets.tar.gpg
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add inactive VuMark credentials to secrets archive
  admin/add_inactive_vumark_secrets.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use inactive VuMark database fixture for TestInactiveDatabase
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/database.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove add_inactive_vumark_secrets script
  admin/add_inactive_vumark_secrets.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add inactive VuMark credentials to secrets (#3013)
  secrets.tar.gpg
Due: none

Use keyword-only args in fixture functions to fix too-many-positional-arguments
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix inactive VuMark database to return UnknownTarget (404) not ProjectInactive
  src/mock_vws/_services_validators/project_state_validators.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add INACTIVE_VUMARK_VUFORIA_* to vuforia_secrets.env.example
  vuforia_secrets.env.example
Due: none

Use * for keyword-only arguments in pytest fixtures
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add test for inactive database in VuMark API (#3003)
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/database.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation_api.py
  vuforia_secrets.env.example
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use vws-python 2026.2.25.1 in respx tests
  pyproject.toml
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix pylint spelling in respx test docstrings
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use vws-python 2026.2.25.1 and simplify respx tests (#3019)
  pyproject.toml
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Use sync clients in respx transport tests
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use sync clients in respx transport tests (#3020)
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump doccmd to 2026.3.1
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Apply pyproject-fmt 2.18.1 formatting fixes
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Apply pyproject-fmt 2.18.1 formatting fixes (#3036)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Rename completion to completion-ci
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Update multipart boundary error message to match Vuforia change
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix zizmor lint: upgrade to 1.23.1, disable superfluous-actions and secrets-outside-env
  pyproject.toml
  zizmor.yml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Update */* boundary error response to match Vuforia (400, text/plain)
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove secrets-outside-env disable, add environment to jobs that use secrets
  .github/workflows/release.yml
  .github/workflows/test.yml
  zizmor.yml
Due: custom-linters, actionlint, yamlfix

Update multipart boundary error to match Vuforia (#3044)
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Rename completion to completion-ci (#3043)
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Switch from Docker Hub to GHCR for image registry
  .github/workflows/release.yml
  docker-bake.hcl
  docs/source/docker.rst
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint
