Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Update pyproject-fmt to 2.15.2
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Update pyproject-fmt to 2.15.2 (#2903)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

More flexible Windows checks
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix CI: remove local vws-python dependency
  pyproject.toml
  src/mock_vws/_requests_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Refactor __enter__ to reduce duplication and move wrap_callback to static method
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove unnecessary string annotations for runtime imports
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove unused compiled_url_patterns variable
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add missing docstring to wrapped function
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor VuMark tests to use verify_mock_vuforia fixture
  .github/workflows/test.yml
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Add changelog entry for response_delay_seconds
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Matrix lint workflow by hook stage
  .github/workflows/lint.yml
Due: custom-linters, actionlint, yamlfix

Fix pyright strict mode errors by using getattr for dynamic attribute access
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix release workflow: persist credentials for git-auto-commit-action
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Use PAT to bypass ruleset in release workflow
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  .github/workflows/release.yml
  CHANGELOG.rst
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Fix BugBot issues in VuMark image generators
  src/mock_vws/_vumark_generators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add response_delay_seconds to Flask mock settings
  CHANGELOG.rst
  pyproject.toml
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Tighten response delay tests to use non-overlapping bounds
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove unnecessary .encode() on error paths in VuMark endpoint
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Make pyrefly non-exhaustive-match an error
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Document that client timeouts are not enforced in tests
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use mock_only_vuforia for VuMark tests
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix pypi job: fetch full history for setuptools-scm
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Parallelize Docker image builds in release workflow
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Move changelog entry under Next
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix response delay env var string conversion
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add VuMark validation and related test updates
  .github/workflows/test.yml
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_vumark_validators/__init__.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Fix manual CI pylint failures for VuMark generation
  spelling_private_dict.txt
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Address PR #2878 Bugbot follow-up findings
  src/mock_vws/_services_validators/target_validators.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix mypy typing in PR #2878 regression test
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use unittest patch for typed target-id regression test
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add injectable sleep_fn parameter to MockVWS
  CHANGELOG.rst
  src/mock_vws/_requests_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Address PR #2878 review comments
  pyproject.toml
  tests/conftest.py
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Use docker/bake-action to share base layer across images
  .github/workflows/release.yml
  docker-bake.hcl
Due: custom-linters, actionlint, yamlfix
