Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Remove commented out ruff settings
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Have ruff infer Python version from pyproject.toml
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add completion job so we can have dependabot auto-merge and required builds
  .github/workflows/ci.yml
Due: custom-linters, actionlint, yamlfix

Try multiple completion builds
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint, yamlfix

Uniquely name completion jobs so we can require them
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint, yamlfix

Auto-merge dependabot PRs
  .github/workflows/dependabot-merge.yml
Due: custom-linters, actionlint, yamlfix

Remove now-unnecessary wheel build dependency
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Specify a defaultfactory type
  src/mock_vws/database.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix test_invalid_value
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Try to fix Jetty content type error
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix one more test
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix a query no boundary error
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Another test
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Account for Jetty bump
  src/mock_vws/_query_validators/exceptions.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Do not beartype pytest fixtures
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use pytest-beartype
  conftest.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix new ruff issues
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Avoid ty error on method name
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

No ty errors on src/
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use new way of specifying license
  LICENSE
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Undo unnecessary change
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Run pre-commit hooks on only one stage each
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Bump pylint per-file-ignores
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove direct pyenchant dependency now that 3.3.0 supports the latest macOS
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Make pylint spelling dependency explicit
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Progress towards no-codecov
  .github/workflows/ci.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
  README.rst
  codecov.yaml
  pyproject.toml
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Try to remove codecov
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint, yamlfix

Try using setup-uv
  .github/workflows/coverage.yml
Due: custom-linters, actionlint, yamlfix

Try to fix coverage workflow to run
  .github/workflows/coverage.yml
Due: custom-linters, actionlint, yamlfix

Try combining test jobs
  .github/workflows/coverage.yml
  .github/workflows/skip-tests.yml
  .github/workflows/test.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint, yamlfix

Update custom linter
  ci/test_custom_linters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Allow vuforia jobs to run in parallel
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Error earlier if no fiels are found
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Add an ID to require 100% coverage step
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Try --cov-append
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Do not write unnecessary XML
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Try without pytest-cov
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Switch to bash shell on Windows
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Sanitize pattern names
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix
