Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

custom-linters:
  name: custom-linters
  entry: pytest ci/custom_linters.py
  stages:
  - push
  language: system
  pass_filenames: false

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: pyright .
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: pyright --verifytypes mock_vws
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: vulture --min-confidence 100 --exclude .eggs
  language: system

pyroma:
  name: pyroma
  entry: pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: ruff check --fix
  language: system

ruff-format-fix:
  name: Ruff format
  entry: ruff format
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

interrogate:
  name: interrogate
  entry: interrogate src/ tests/ ci/
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

Start using beartype across the library
  ci/custom_linters.py
  conftest.py
  pyproject.toml
  src/mock_vws/_base64_decoding.py
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/date_validators.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/json_validators.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/_services_validators/width_validators.py
  src/mock_vws/database.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/too_many_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Use more beartype checks
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards using beartype everywhere
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/date_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove from __future__ import annotations
  src/mock_vws/_database_matchers.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Change request header type to be a mapping, not just dict
  src/mock_vws/_database_matchers.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/content_type_validators.py
  src/mock_vws/_query_validators/date_validators.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/date_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Switch from trusting the numeric tower to explicitly requesting SupportsFloat
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix pyright concerns
  src/mock_vws/target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Start of switching to responses
  src/mock_vws/_requests_mock_server/__init__.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid SupportsFloat as it doesn't work so well with pydantic
  docs/source/docker.rst
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/target.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Further progress towards switching to responses
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

De-dent a bunch of MockVWS __enter__
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards responses switch
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use ResponseType
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards switching from requests_mock to responses
  pyproject.toml
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Progress towards using requests_mock
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix tests for Flask app usage
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Simplify real_http implementation
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Set assert_all_requests_are_fired=False
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use beartype in more places
  src/mock_vws/database.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  src/mock_vws/target_raters.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump requests-mock-flask with bugfix
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Avoid static folder serving in Flask apps
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump requests mock flask to avoid a bug
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Ignore one beartype error
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Decorate pytest fixtures correctly with beartype
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add runtime type checking in more places
  conftest.py
  src/mock_vws/_flask_server/healthcheck.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  src/mock_vws/target_raters.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use beartype on classes
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/database.py
  src/mock_vws/image_matchers.py
  src/mock_vws/states.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  src/mock_vws/target_raters.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use tower in more places
  src/mock_vws/target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump CHANGELOG
  CHANGELOG.rst
Due: doc8

Update for VWS-Python changes
  docs/source/differences-to-vws.rst
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/retries.py
  tests/mock_vws/utils/too_many_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Fix a changed class name
  docs/source/differences-to-vws.rst
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/content_type_validators.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_delete_target.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_get_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Use more keyword arguments - better typecheck errors
  admin/create_secrets_files.py
  ci/custom_linters.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use more kwargs
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/num_results_validators.py
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid beartype issue on new VWS Python
  tests/mock_vws/test_add_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Move things around to satisfy type checkers
  tests/mock_vws/test_add_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Change update target tests to make the most of the new VWS Python
  pyproject.toml
  src/mock_vws/_services_validators/active_flag_validators.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Fix a few bad changes
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary use of CaseInsensitiveDict from tests
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_content_length.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use urljoin in more places rather than manually constructing URLs
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove class-level variables from Endpoint
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make Endpoint a dataclass - simpler, and easier to change upcoming
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
