Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

custom-linters:
  name: custom-linters
  entry: pytest ci/custom_linters.py
  stages:
  - push
  language: system
  pass_filenames: false

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: mypy .
  language: system
  pass_filenames: false

pyright:
  name: pyright
  stages:
  - push
  entry: pyright .
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: pyright --verifytypes mock_vws
  language: system
  pass_filenames: false

vulture:
  name: vulture
  entry: vulture --min-confidence 100 --exclude .eggs
  language: system

pyroma:
  name: pyroma
  entry: pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: ruff check --fix
  language: system

ruff-format-fix:
  name: Ruff format
  entry: ruff format
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

interrogate:
  name: interrogate
  entry: interrogate src/ tests/ ci/
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

Test shell snippets in documentation code blocks
  .pre-commit-config.yaml
  docs/source/ci-setup.rst
  docs/source/contributing.rst
  docs/source/docker.rst
  docs/source/release-process.rst
Due: custom-linters, actionlint, doc8

Test shell snippets in documentation code blocks
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Resolve pylint issues
  docs/source/conf.py
  src/mock_vws/_requests_mock_server/decorators.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove some unnecessary pylint ignores
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add check-json and meta pre-commit hooks
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Fix indentation
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Update RTD build OS
  readthedocs.yaml
Due: custom-linters, actionlint

Remove ignores of deprecated ruff rules
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Change the only `: frozenset` type hint to Iterable
  src/mock_vws/_mock_common.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Pass around `Iterable[VuforiaDatabase]` rather than `set[VuforiaDatabase]`
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/target_manager.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Treat endpoing headers as Mapping
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use immutable types in key validators
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Change mock web query API to take iterable HTTP Methods not set
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Change a few more `set` types to Iterable
  ci/test_custom_linters.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_docker.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary type hint
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove some unnecessary type hints
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Switch a few dict types to Mapping
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove a few dict type hints
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove some type hints
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary type hint
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Progress towards removing global variable for _ROUTES
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary type hint
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make target databases an Iterable
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make DatabaseDict.targets immutable
  src/mock_vws/database.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make it possible to put _Route in a set
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add stubs for tests for target raters + Flask usage
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Set environment variables in new tests
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Test for using the random target rater with Flask - working
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Passing test for perfect rater
  src/mock_vws/_flask_server/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add passing test for brisque
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add test for default target rater
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Avoid shadowing an exception
  src/mock_vws/_services_validators/target_validators.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove invalid value tests, for now
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix no-self-use pylint error
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Calculate minimum Python version in Sphinx build
  README.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Remove types-pillow
  pyproject.toml
  src/mock_vws/image_matchers.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Add shfmt to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Update shfmt commands
  .pre-commit-config.yaml
  docs/source/docker.rst
Due: custom-linters, actionlint, doc8

Fix pre-commit shfmt issue
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Update calling method for shellcheck shell option to be consistent amoung projects
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
