Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

custom-linters:
  name: custom-linters
  entry: uv run --extra=dev -m pytest ci/test_custom_linters.py
  stages:
  - pre-push
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.5.20

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC2215"
  language: python
  additional_dependencies:
  - uv==0.5.20

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.5.20

mypy:
  name: mypy
  stages:
  - pre-push
  entry: uv run --extra=dev -m mypy
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

mypy-docs:
  name: mypy-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python

pyright:
  name: pyright
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyright-docs:
  name: pyright-docs
  stages:
  - pre-push
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - pre-push
  entry: uv run --extra=dev -m pyright --verifytypes mock_vws
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture:
  name: vulture
  entry: uv run --extra=dev -m vulture .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

vulture-docs:
  name: vulture docs
  entry: uv run --extra=dev doccmd --language=python --command="vulture"
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

pyroma:
  name: pyroma
  entry: uv run --extra=dev -m pyroma --min 10 .
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix:
  name: Ruff check fix
  entry: uv run --extra=dev -m ruff check --fix
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.5.20

ruff-format-fix:
  name: Ruff format
  entry: uv run --extra=dev -m ruff format
  language: python
  additional_dependencies:
  - uv==0.5.20

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.5.20

Exclude include-only doc fragments from the Sphinx document collection
  docs/source/conf.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Validate VuMark instance_id type in a shared validator (#3431)
  newsfragments/vumark-instance-id-type.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/instance_id_validators.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Cover the Model Target Web API round trip in the Docker test
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add toctree to the pylint spelling dictionary
  spelling_private_dict.txt
Due: none

Cover the Model Target Web API round trip in the Docker test (#3434)
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Store Model Target datasets in the target manager service
  newsfragments/docker-model-target-dataset-state.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Restart the VWS container in the Docker Model Target round trip
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Cover the Model Target dataset serialization branches
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Store Model Target datasets in the target manager service (#3435)
  newsfragments/docker-model-target-dataset-state.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate documented Model Target model enum fields
  docs/source/differences-to-vws.rst
  newsfragments/model-target-enum-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate documented Model Target model enum fields (#3436)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-enum-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Support State-Based Model Target fields
  docs/source/differences-to-vws.rst
  newsfragments/model-target-state-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump sphinx-substitution-extensions to 2026.8.13 and drop the toctree workaround
  docs/source/conf.py
  pyproject.toml
  spelling_private_dict.txt
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Support State-Based Model Target fields (#3437)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-state-fields.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump sphinx-substitution-extensions to 2026.8.13 and drop the toctree workaround (#3439)
  docs/source/conf.py
  pyproject.toml
  spelling_private_dict.txt
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Reject Model Target request bodies which are not valid UTF-8
  docs/source/differences-to-vws.rst
  newsfragments/model-target-non-utf-8-body.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Reject Model Target request bodies which are not valid UTF-8 (#3440)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-non-utf-8-body.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Reject Model Target requests with a non-integer Content-Length
  newsfragments/model-target-content-length.change
  spelling_private_dict.txt
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Reject Model Target requests with a non-integer Content-Length (#3442)
  newsfragments/model-target-content-length.change
  spelling_private_dict.txt
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Report the failed training status for failed Model Target downloads
  docs/source/differences-to-vws.rst
  newsfragments/model-target-failed-download-status.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Report the failed training status for failed Model Target downloads (#3443)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-failed-download-status.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/cloud-database-id.change
  newsfragments/decompression-bomb-image.change
  newsfragments/deterministic-target-order.change
  newsfragments/docker-documentation-target-manager-base-url.change
  newsfragments/docker-image-lockfile.change
  newsfragments/docker-model-target-dataset-state.change
  newsfragments/healthcheck-connection-refused.change
  newsfragments/model-target-cad-data-blob.change
  newsfragments/model-target-content-length.change
  newsfragments/model-target-dataset-field-types.change
  newsfragments/model-target-dataset-type-routes.change
  newsfragments/model-target-enum-fields.change
  newsfragments/model-target-failed-download-status.change
  newsfragments/model-target-generation-failure.change
  newsfragments/model-target-generation-warning.change
  newsfragments/model-target-guide-view-position-fields.change
  newsfragments/model-target-guide-view-position-numbers.change
  newsfragments/model-target-jwt-payload.change
  newsfragments/model-target-jwt-signature.change
  newsfragments/model-target-model-fields.change
  newsfragments/model-target-non-object-body.change
  newsfragments/model-target-non-utf-8-body.change
  newsfragments/model-target-state-fields.change
  newsfragments/model-target-view-fields.change
  newsfragments/per-endpoint-request-rate-limits.change
  newsfragments/project-has-no-api-access-casing.change
  newsfragments/reco-counts-report.change
  newsfragments/reco-fields-round-trip.change
  newsfragments/single-color-image-rating.change
  newsfragments/unrouted-requests.change
  newsfragments/vumark-instance-id-type.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Guard shared container state against concurrent requests
  .github/workflows/test.yml
  newsfragments/concurrent-request-state.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_flask_app_concurrency.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Add tests for using the mock as a decorator
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Run the concurrency tests in an existing CI job
  .github/workflows/test.yml
  tests/mock_vws/test_flask_app_concurrency.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Refresh Vuforia credentials and Model Target scopes
  admin/create_secrets_files.py
  secrets.tar.gpg
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Complete Model Target API fidelity
  admin/create_secrets_files.py
  docs/source/differences-to-vws.rst
  secrets.tar.gpg
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/model_target_prepared_requests.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  vuforia_secrets.env.example
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix Model Target CI checks
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Update Docker dataset archive assertion
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Skip real Vuforia tests when the database is suspended
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump August dependency releases
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump remaining August releases
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Cover Model Target OAuth edge cases
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Revert "Skip real Vuforia tests when the database is suspended"
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump August dependency releases (#3452)
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Exclude defensive cleanup branches from coverage
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Complete Model Target API fidelity and refresh credentials (#3451)
  admin/create_secrets_files.py
  docs/source/differences-to-vws.rst
  secrets.tar.gpg
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/model_target_prepared_requests.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
  vuforia_secrets.env.example
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Guard shared container state against concurrent requests (#3449)
  newsfragments/concurrent-request-state.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
