Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Check pytest parametrization with mypy-pytest-parametrize
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove pytest-specific path access
  pyproject.toml
  tests/mock_vws/test_docker.py
  typings/pyprojroot/__init__.pyi
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Link pyprojroot typing override to upstream issue
  typings/pyprojroot/__init__.pyi
Due: none

Use module-level test functions for Karva preparation
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_httpx2_mock_usage.py
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
  tests/mock_vws/test_target_raters.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Provide shared test data through scoped fixtures
  tests/mock_vws/flask_app/conftest.py
  tests/mock_vws/flask_app/helpers.py
  tests/mock_vws/flask_app/test_databases.py
  tests/mock_vws/flask_app/test_delays.py
  tests/mock_vws/flask_app/test_images.py
  tests/mock_vws/flask_app/test_model_targets.py
  tests/mock_vws/flask_app/test_processing.py
  tests/mock_vws/flask_app/test_quotas.py
  tests/mock_vws/flask_app/test_reports.py
  tests/mock_vws/flask_app/test_vumark.py
  tests/mock_vws/requests_mock/conftest.py
  tests/mock_vws/requests_mock/helpers.py
  tests/mock_vws/requests_mock/test_decorator.py
  tests/mock_vws/requests_mock/test_network.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Replace generic test helpers with focused modules
  tests/mock_vws/httpx2_mock/helpers.py
  tests/mock_vws/httpx2_mock/test_async_vws.py
  tests/mock_vws/httpx2_mock/test_query.py
  tests/mock_vws/httpx2_mock/test_transports.py
  tests/mock_vws/httpx2_mock/test_vumark.py
  tests/mock_vws/model_target_web_api/assertions.py
  tests/mock_vws/model_target_web_api/authentication.py
  tests/mock_vws/model_target_web_api/helpers.py
  tests/mock_vws/model_target_web_api/responses.py
  tests/mock_vws/model_target_web_api/sample_data.py
  tests/mock_vws/model_target_web_api/test_authentication.py
  tests/mock_vws/model_target_web_api/test_datasets.py
  tests/mock_vws/model_target_web_api/test_errors.py
  tests/mock_vws/model_target_web_api/test_requests.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove ty recursive-alias dictionary copy workaround
  pyproject.toml
  src/mock_vws/model_target.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Remove ty recursive-alias dictionary copy workaround (#3703)
  pyproject.toml
  src/mock_vws/model_target.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Make zero-processing VuMark targets immediately ready
  newsfragments/3705.change.md
  src/mock_vws/target.py
  tests/mock_vws/flask_app/test_vumark.py
  tests/mock_vws/requests_mock/test_targets.py
  tests/mock_vws/requests_mock/test_vumark.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Use elapsed processing time for VuMark readiness
  newsfragments/3705.change.md
  src/mock_vws/target.py
  tests/mock_vws/requests_mock/test_targets.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Make zero-processing VuMark targets immediately ready (#3706)
  newsfragments/3705.change.md
  src/mock_vws/target.py
  tests/mock_vws/flask_app/test_vumark.py
  tests/mock_vws/requests_mock/test_targets.py
  tests/mock_vws/requests_mock/test_vumark.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Set the public VWS URL in the Docker quickstart
  docs/source/docker.rst
  newsfragments/3713.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bound Flask health checks with an HTTP timeout
  newsfragments/3712.change.md
  src/mock_vws/_flask_server/healthcheck.py
  tests/mock_vws/test_healthcheck.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Check Docker deployment readiness through published HTTP ports
  newsfragments/3714.change.md
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Use standard spelling in the Docker setup release note
  newsfragments/3713.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Clean up Docker resources when deployment setup fails
  newsfragments/3711.change.md
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Register container cleanup before starting Docker services
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Preserve Windows handling in Docker cleanup regression tests
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Exercise an actual failed Docker build step in cleanup tests
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bound Flask health checks with an HTTP timeout (#3716)
  newsfragments/3712.change.md
  src/mock_vws/_flask_server/healthcheck.py
  tests/mock_vws/test_healthcheck.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Remove direct tests of Docker readiness helpers
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove direct tests of Docker fixture helpers
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Clean up Docker images when deployment setup fails (#3717)
  newsfragments/3711.change.md
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Retry Docker HTTP readiness based on returned health status
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Check Docker readiness through published HTTP ports (#3718)
  newsfragments/3714.change.md
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, interrogate-docs

Retry unsuccessful target processing using Tenacity results
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Represent target processing results with a private dataclass
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry unsuccessful target processing with Tenacity (#3719)
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Set VWS_BASE_URL in the Docker quickstart (#3715)
  docs/source/docker.rst
  newsfragments/3713.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Allow cancelled completion jobs to stop
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Support native Apple container deployments
  README.rst
  docs/source/contributing.rst
  docs/source/docker.rst
  docs/source/index.rst
  newsfragments/+apple-container.change.md
  spelling_private_dict.txt
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Support native Apple container deployments (#3725)
  README.rst
  docs/source/contributing.rst
  docs/source/docker.rst
  docs/source/index.rst
  newsfragments/+apple-container.change.md
  spelling_private_dict.txt
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  docs/source/changelog/2026.10.09.md
  newsfragments/+apple-container.change.md
  newsfragments/+native-markdown.change.md
  newsfragments/3705.change.md
  newsfragments/3711.change.md
  newsfragments/3712.change.md
  newsfragments/3713.change.md
  newsfragments/3714.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Run validation workflows for stacked pull requests
  .github/workflows/autofix.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  .github/workflows/test.yml
  newsfragments/+47d743d2.change.md
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs, yamlfix

Require released Beartype 0.23.0
  newsfragments/+beartype-0.23.change.md
  pyproject.toml
  uv.lock
Due: shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs, pyproject-fmt-fix

Keep release notes compatible with documentation lint
  newsfragments/+beartype-0.23.change.md
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Show tracebacks for Mypy crashes
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix
