Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Exclude shellcheck error which prevents it from working on Windows
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Ignore D004 errors in doc8 so it works on Windows
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use setup-uv GitHub Action
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint

Fix indentation
  .github/workflows/lint.yml
Due: custom-linters, actionlint

Move release dependencies to pyproject.toml
  .github/workflows/release.yml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Ignore release dependency group in deptry
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump pyenchant to a macOS ARM compatible RC
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Update pre-commit config
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Use new hook stage names
  .github/workflows/lint.yml
  docs/source/contributing.rst
Due: custom-linters, actionlint, doc8

Switch pre-commit to Python language
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Switch some hooks to use uv
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Simplify pre-commit docs setup
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Make it possible to create docs without activating virtualenv
  docs/Makefile
Due: none

Add uv dependency in more places
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Use Sphinx feature to simplify setting copyright
  docs/source/conf.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Pin build and check-wheel-contents
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use uv instead of 'build' for building
  .github/workflows/release.yml
Due: custom-linters, actionlint

Use uv instead of 'build' for building
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use environment variables to remove duplication in uv commands
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint

Update release process to support >= 10 releases in a day
  .github/workflows/release.yml
Due: custom-linters, actionlint

Fix running actionlint without activated environment
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Format some yaml files
  .github/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Add more pre-commit hooks
  .checkmake-config.ini
  .pre-commit-config.yaml
  .yamlfmt
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Configure docformatter
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Update pre-commit.ci ignore list
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Add more hooks
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Fix hook name
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Fix dependency name
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Do not expect new config files in manifest
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Sort dependencies
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Exclude a file from formatting
  .pre-commit-config.yaml
  src/mock_vws/_flask_server/target_manager.py
Due: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Add newlines to avoid docformatter ignore
  .pre-commit-config.yaml
  src/mock_vws/_flask_server/target_manager.py
Due: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove checkmake - it is flaky on Windows
  .checkmake-config.ini
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Switch to yamlfix
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  readthedocs.yaml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Remove yamlfmt config
  .yamlfmt
Due: none

Add Windows as a supported platform
  .gitattributes
  .github/workflows/lint.yml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Try removing $
  docs/source/docker.rst
Due: doc8
