Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Try not doing Windows coverage
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Tidy up a bit
  .github/workflows/test.yml
  pyproject.toml
  tests/mock_vws/test_docker.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Update CI badge link in README
  README.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix and simplify coverage config
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Use parallel settings
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove docs/Makefile and update pre-commit to use sphinx-build directly
  .pre-commit-config.yaml
  docs/Makefile
Due: custom-linters, actionlint, yamlfix

Update base Makefile to use sphinx-build directly
  Makefile
Due: none

Add -W flag to docs hook for consistent error handling
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Add MIT LICENSE file
  LICENSE
Due: none

Add .prettierrc configuration
  .prettierrc
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove Makefile and replace make commands with direct equivalents
  Makefile
  admin/create_secrets_files.py
  docs/source/ci-setup.rst
  docs/source/contributing.rst
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Quote an environment variable
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix ruff
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Improve docstring
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix quoting in GPG command for secrets archive
  docs/source/ci-setup.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump uv to 0.9.5
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Bump uv to 0.9.5 (#2739)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Move instructions to contributing docs
  admin/create_secrets_files.py
  docs/source/contributing.rst
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add view and edit buttons to Sphinx docs
  docs/source/conf.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Configure Furo top-of-page buttons with repository details
  docs/source/conf.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add --no-write-to-file flag for read-only doccmd commands
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Add --no-write-to-file flag for read-only doccmd commands (#2746)
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Bump doccmd to 2025.11.8.1 and sybil-extras to 2025.11.8
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump dependencies
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add --example-workers 0 to read-only doccmd hooks
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Get the code ready for ty
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Make new protocols runtime_checkable
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add validation for gha-find-replace actions
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Add validation for gha-find-replace actions (#2787)
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Bump beartype to 0.22.9
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add ty to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add Claude Code LSP plugin for Python (pyright)
  .claude/plugins/pyright-lsp/.claude-plugin/plugin.json
  .claude/plugins/pyright-lsp/.lsp.json
Due: none

Add pyrefly and pyrefly-docs configuration
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Fix pyrefly
  admin/create_secrets_files.py
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Allow "pyrefly" in comments
  spelling_private_dict.txt
Due: none

Bump dependencies
  .claude/settings.json
Due: none

Add zizmor for GitHub Actions security linting
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add zizmor for GitHub Actions security linting (#2816)
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add zizmor config and ignore in check-manifest
  pyproject.toml
  zizmor.yml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Fix zizmor issues in GitHub workflows
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix
