Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Match the result codes table casing for ProjectHasNoApiAccess (#3352)
  docs/source/differences-to-vws.rst
  newsfragments/project-has-no-api-access-casing.change
  src/mock_vws/_constants.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/project_state_validators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Document Query API unknown field rejection
  docs/source/differences-to-vws.rst
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Model VWS request rate limits per endpoint
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/per-endpoint-request-rate-limits.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/database.py
  src/mock_vws/request_rate_limits.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Model VWS request rate limits per endpoint (#3353)
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/per-endpoint-request-rate-limits.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/database.py
  src/mock_vws/request_rate_limits.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Document Query API unknown field rejection (#3351)
  docs/source/differences-to-vws.rst
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add the Database Reco Counts CSV report endpoint
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
  newsfragments/reco-counts-report.change
  spelling_private_dict.txt
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/decorators.py
  src/mock_vws/reco_counts.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Test the reco counts report against the mocks only
  docs/source/differences-to-vws.rst
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add the Database Reco Counts CSV report endpoint (#3357)
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
  newsfragments/reco-counts-report.change
  spelling_private_dict.txt
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/decorators.py
  src/mock_vws/reco_counts.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Bump beartype to 0.23.0rc0
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Verify the reco counts report request against real Vuforia
  admin/create_secrets_files.py
  docs/source/differences-to-vws.rst
  pyproject.toml
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_reco_counts_report.py
  vuforia_secrets.env.example
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Exclude the missing database ID guard from coverage
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Verify the reco counts report against real Vuforia
  docs/source/differences-to-vws.rst
  secrets.tar.gpg
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/reco_counts.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Verify the reco counts report against real Vuforia (#3366)
  admin/create_secrets_files.py
  docs/source/differences-to-vws.rst
  pyproject.toml
  secrets.tar.gpg
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/reco_counts.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_reco_counts_report.py
  vuforia_secrets.env.example
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Validate the reco counts report database ID
  docs/source/differences-to-vws.rst
  newsfragments/cloud-database-id.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/database_id_validators.py
  src/mock_vws/database.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Document what actually differs about the database ID
  docs/source/differences-to-vws.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate the reco counts report database ID (#3367)
  docs/source/differences-to-vws.rst
  newsfragments/cloud-database-id.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/database_id_validators.py
  src/mock_vws/database.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Remove duplicate target_summary route definition
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove duplicate target_summary route definition (#3382)
  src/mock_vws/_services_validators/key_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Return targets in a deterministic order
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  newsfragments/deterministic-target-order.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_target_list.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Return targets in a deterministic order (#3385)
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  newsfragments/deterministic-target-order.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/mock_vws/test_get_duplicates.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_target_list.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Preserve reco fields through to_dict and from_dict round trips
  newsfragments/reco-fields-round-trip.change
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enforce custom linter conventions
  .pre-commit-config.yaml
  ci/test_custom_linters.py
  src/mock_vws/_query_validators/accept_header_validators.py
  src/mock_vws/_query_validators/auth_validators.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Preserve reco fields through to_dict and from_dict round trips (#3383)
  newsfragments/reco-fields-round-trip.change
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Return 404 for requests to unrouted paths
  docs/source/differences-to-vws.rst
  newsfragments/unrouted-requests.change
  src/mock_vws/_flask_server/vws.py
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Verify the unrouted request responses against real Vuforia
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  newsfragments/unrouted-requests.change
  src/mock_vws/_flask_server/vws.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_unrouted_requests.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Document only the differences for unserved paths
  docs/source/differences-to-vws.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Reword docstring to satisfy the pylint spelling check
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fold the unrouted request tests into an existing test file
  .github/workflows/test.yml
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_unrouted_requests.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Return 404 for requests to paths the Flask mock does not serve (#3384)
  docs/source/differences-to-vws.rst
  newsfragments/unrouted-requests.change
  src/mock_vws/_flask_server/vws.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_invalid_given_id.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use pytest-partition-check for CI patterns
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Run partition check from prek
  .github/workflows/test.yml
  .pre-commit-config.yaml
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Respond to images with a huge number of pixels
  docs/source/contributing.rst
  newsfragments/decompression-bomb-image.change
  newsfragments/single-color-image-rating.change
  spelling_private_dict.txt
  src/mock_vws/_image_opening.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target.py
  src/mock_vws/target_raters.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use pytest-partition-check for CI patterns (#3409)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  ci/test_custom_linters.py
  pyproject.toml
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Respond to images with a huge number of pixels (#3410)
  docs/source/contributing.rst
  newsfragments/decompression-bomb-image.change
  newsfragments/single-color-image-rating.change
  spelling_private_dict.txt
  src/mock_vws/_image_opening.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target.py
  src/mock_vws/target_raters.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Extract the multi-backend test harness from the Vuforia fixtures
  tests/backend_harness.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Extract the multi-backend test harness from the Vuforia fixtures (#3413)
  tests/backend_harness.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add a fixture factory to the multi-backend test harness
  tests/backend_harness.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Allow the private import of the ``pytest`` fixture type
  tests/backend_harness.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
