Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Remove PyTorch dependencies
  pyproject.toml
  src/mock_vws/_brisque.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix CI failures after torch removal
  spelling_private_dict.txt
  src/mock_vws/_flask_server/Dockerfile
  src/mock_vws/image_matchers.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add VuMark endpoint to parametrized fixture for auth testing
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix invalid JSON test failure for VuMark endpoint
  src/mock_vws/_constants.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/json_validators.py
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add VuMark to endpoint fixture for auth testing (#2960)
  src/mock_vws/_constants.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/json_validators.py
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add database type and target type support with VuMark validation (#2962)
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/database.py
  src/mock_vws/database_type.py
  src/mock_vws/target.py
  src/mock_vws/target_type.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document DatabaseType and TargetType in API reference; clarify Target class
  docs/source/mock-api-reference.rst
  pyproject.toml
  src/mock_vws/target.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Rename Target and TargetDict classes to ImageTarget and ImageTargetDict
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Update docs to reference ImageTarget instead of Target
  docs/source/mock-api-reference.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add database type and target type support with VuMark validation; refresh Vuforia secrets
  CHANGELOG.rst
  admin/create_secrets_files.py
  docs/source/mock-api-reference.rst
  pyproject.toml
  secrets.tar.gpg
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  src/mock_vws/target_type.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Rename Target and TargetDict to ImageTarget and ImageTargetDict (#2964)
  docs/source/mock-api-reference.rst
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Refresh Vuforia secrets and simplify admin script
  admin/create_secrets_files.py
  pyproject.toml
  secrets.tar.gpg
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Revert simplification of admin script to restore VuMark creation logic
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Rename DatabaseDict to CloudDatabaseDict
  pyproject.toml
  src/mock_vws/database.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Rename VuforiaDatabase to CloudDatabase
  README.rst
  docs/source/basic-example.rst
  docs/source/mock-api-reference.rst
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/database.py
  src/mock_vws/target_manager.py
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_target_validators.py
  tests/mock_vws/test_vumark_generation_api.py
  tests/mock_vws/utils/usage_test_helpers.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Rename DatabaseDict to CloudDatabaseDict (#2967)
  README.rst
  docs/source/basic-example.rst
  docs/source/mock-api-reference.rst
  pyproject.toml
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/database.py
  src/mock_vws/target_manager.py
  tests/conftest.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_target_validators.py
  tests/mock_vws/test_vumark_generation_api.py
  tests/mock_vws/utils/usage_test_helpers.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Refresh secrets (#2966)
  pyproject.toml
  secrets.tar.gpg
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Create VuMarkTarget type for semantically correct VuMark fixture
  docs/source/mock-api-reference.rst
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix type issues with get_target returning image targets only
  src/mock_vws/database.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix mypy type hint for not_deleted_targets union
  src/mock_vws/database.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor Target into ImageTarget and VuMarkTarget classes
  CHANGELOG.rst
  docs/source/mock-api-reference.rst
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  src/mock_vws/target_type.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Add VuMark to spelling dictionary
  spelling_private_dict.txt
Due: none

Fix InvalidTargetType response status code to 422
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Separate VuMark database from CloudDatabase and minimize VuMarkTarget
  pyproject.toml
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix Sphinx docs reference to renamed endpoint
  docs/source/docker.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Refresh secrets (#2966)
  pyproject.toml
  secrets.tar.gpg
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix docs endpoint reference after rename to create_cloud_database
  docs/source/docker.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Rename database functions to cloud_databases (#2969)
  docs/source/docker.rst
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Split TargetManager.databases into typed cloud_databases and vumark_databases
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Rename database methods and endpoints to cloud_databases
  README.rst
  docs/source/basic-example.rst
  docs/source/docker.rst
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Rename database methods and endpoints to cloud_databases (#2970)
  README.rst
  docs/source/basic-example.rst
  docs/source/docker.rst
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Revert unnecessary changes to cloud-specific functions
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Revert cosmetic changes to existing code
  pyproject.toml
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/database.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix VuMark auth by widening validators to accept both database types
  docs/source/mock-api-reference.rst
  src/mock_vws/_database_matchers.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_validators.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Address bugbot review: scope validate_request to cloud-only databases
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/target_manager.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Update tests to match new database conflict error message
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
