Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Remove pyrefly 1897 workarounds and use the strict preset (#3567)
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/decorators.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Match real Vuforia's reco counts report URL, expiry and not-ready response
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
  newsfragments/3364.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/reco_counts.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/utils/cloud_databases.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Retry deleting a target which real Vuforia still reports as processing
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Verify and implement the NGINX 8 KiB header line limit
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
  newsfragments/3571.change
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_query_validators/header_size_validators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/header_size_validators.py
  tests/mock_vws/test_header_size.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Use PEP 735 dependency groups
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/source/contributing.rst
  prek.toml
  pyproject.toml
  uv.lock
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Use dependency groups in deployment workflows
  .github/workflows/publish-site.yml
  src/mock_vws/_flask_server/Dockerfile
Due: custom-linters, actionlint, yamlfix

Retry the concrete requests timeout and connection errors in CI
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Verify and implement the NGINX 8 KiB header line limit (#3574)
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
  newsfragments/3571.change
  src/mock_vws/_mock_common.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_query_validators/header_size_validators.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/header_size_validators.py
  tests/mock_vws/test_header_size.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Parse the request body once per request in the validators (#3568)
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/__init__.py
  src/mock_vws/_query_validators/auth_validators.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/multipart.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_query_validators/project_state_validators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/instance_id_validators.py
  src/mock_vws/_services_validators/json_validators.py
  src/mock_vws/_services_validators/key_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/width_validators.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use requests-mock for requests interception
  newsfragments/requests-mock.change
  pyproject.toml
  src/mock_vws/_requests_mock_server/__init__.py
  src/mock_vws/decorators.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_requests_mock_usage.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Make stacked dependency available to pip builds
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Record that the ProjectSuspended result code has been seen from real Vuforia
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Keep report tests branch-free across hour boundaries and clear the target manager before Flask usage tests
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_reco_counts_report.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Reconcile validator context refactor
  src/mock_vws/_services_validators/active_flag_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/_services_validators/metadata_validators.py
  src/mock_vws/_services_validators/width_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Preserve runtime normalization under Pyrefly all
  src/mock_vws/decorators.py
  src/mock_vws/target.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Verify the VWS request rate limits against real Vuforia
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
  newsfragments/3572.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/_services_validators/routes.py
  src/mock_vws/database.py
  src/mock_vws/request_rate_limits.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use documented call results
  README.rst
  docs/source/basic-example.rst
  docs/source/httpx-example.rst
  docs/source/httpx2-example.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use Ty's strictest recommended configuration
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_services_validators/name_validators.py
  tests/conftest.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_healthcheck.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_query.py
  tests/mock_vws/utils/model_target_retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Take every branch of the rate limit test
  tests/mock_vws/test_target_list.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Verify the VWS request rate limits against real Vuforia (#3579)
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
  newsfragments/3572.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/context.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/_services_validators/routes.py
  src/mock_vws/database.py
  src/mock_vws/request_rate_limits.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_list.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3415.change
  newsfragments/3571.change
  newsfragments/3572.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Match real Vuforia's reco counts report URL, expiry and not-ready response (#3570)
  docs/source/differences-to-vws.rst
  docs/source/unverified-behavior.rst
  newsfragments/3364.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/reco_counts.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/utils/cloud_databases.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use one sentence per line in documentation
  CHANGELOG.rst
  CODE_OF_CONDUCT.rst
  docs/source/ci-setup.rst
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3364.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Ban operator.attrgetter
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Wait for real reco reports to become ready
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enforce semantic line breaks with Snapper
  .github/workflows/semantic-line-breaks.yml
  .snapperrc.toml
  docs/source/ci-setup.rst
  docs/source/contributing.rst
  docs/source/unreleased.rst
Due: custom-linters, actionlint, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Run Snapper through Prek
  .github/workflows/semantic-line-breaks.yml
  prek.toml
  pyproject.toml
  uv.lock
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Isolate the Snapper dependency group
  prek.toml
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use the Snapper 0.11.0 release
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Use the development dependency group for Snapper
  prek.toml
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Enable Snapper Vale rules
  .vale.ini
  styles/snapper/LongProseLine.yml
  styles/snapper/SemanticLineBreaks.yml
Due: custom-linters, actionlint, yamlfix

Store route handlers directly
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_respx_mock_server/decorators.py
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate JWT payload objects
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Keep reco counts report tests on mock backends
  docs/source/differences-to-vws.rst
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate model target request JSON
  src/mock_vws/_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add changelog entry
  newsfragments/3589.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint
