Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3589.change.rst
  newsfragments/3605.change.rst
  newsfragments/3606.change.rst
  newsfragments/3623.change.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Use Docker container properties in tests
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Accept general awaitables in async test runner
  tests/mock_vws/test_httpx2_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate model target response shapes in tests
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Type model target JSON values recursively
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Preserve numeric processing-time values
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/decorators.py
  src/mock_vws/model_target.py
  src/mock_vws/target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Carry the validated bearer token to scope checks
  src/mock_vws/_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Build typed multipart query fields
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Give the reco-counts route a distinct name
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Test credential limit through public API
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add missing Beartype decorators
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Cover oversized query images
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_query_validators/image_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Test oversized content lengths against mocks
  src/mock_vws/_query_validators/content_length_validators.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_services_validators/content_length_validators.py
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/test_content_length.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document the HTTPX2 interception hook
  src/mock_vws/_httpx2_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Link the public middleware proposal
  src/mock_vws/_httpx2_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Express optional Content-Length assertion directly
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Build the Jetty response from exact lines
  src/mock_vws/_query_validators/exceptions.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Start resource cleanup after creation
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Separate OAuth2 grant validation
  src/mock_vws/_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump setup-uv to v10.1.0
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Declare checkout-only files in source-distribution checks
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Refactor project state dispatch with match
  src/mock_vws/_services_validators/project_state_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document transient Vale download failures
  prek.toml
Due: mypy, pyright, pyroma

Refresh suspended Vuforia projects
  secrets.tar.gpg
Due: none

Use RESPX for HTTPX2 request routing
  src/mock_vws/_httpx2_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  src/mock_vws/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Document required static-analysis suppressions
  src/mock_vws/_flask_server/healthcheck.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  tests/conftest.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump doccmd for typed click-compose callbacks
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Update doccmd and click-compose to 2026.9.16.1
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove legacy Sphinx autodoc mode
  docs/source/conf.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Enable every ty rule
  admin/create_secrets_files.py
  pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Bump actionlint-py to 1.7.12.25
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump actionlint-py to 1.7.12.25 (#3674)
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Update Pylint to 4.0.9 and remove ellipsis ignores
  pyproject.toml
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

fix: Specify JSON types when copying generation warning details
  src/mock_vws/model_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

docs: Link recursive JSON copy workaround to ty issue 4598
  src/mock_vws/model_target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove obsolete Mypy faster-cache extra
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Replace pytest-beartype-tests with pytest-beartype
  prek.toml
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Update mypy to 2.4.0
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Enable Vale FigurativeLands checking
  .vale.ini
  docs/source/unreleased.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Configure Mypy parallelism in pyproject.toml
  prek.toml
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix
