Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Use pragma for uncovered Docker branch
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

[codex] Upload Windows coverage data (#3174)
  .github/workflows/test.yml
  pyproject.toml
  tests/mock_vws/test_docker.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix, yamlfix

Fix strict-kwargs dev dependency alphabetical order
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Fix malformed dev dependencies list in pyproject.toml
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add strict-kwargs as a local pre-commit hook (dev dependency)
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Bump strict-kwargs to 2026.5.18.post1 and revert Python changes
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add strict-kwargs pre-commit hook in fix mode (#3172)
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Add strict-kwargs stress fixture
  strict_kwargs_stress/__init__.py
  strict_kwargs_stress/main.py
  strict_kwargs_stress/pkg/__init__.py
  strict_kwargs_stress/pkg/lib.py
  strict_kwargs_stress/pyproject.toml
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Use assert in Docker build test
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use assert_never for enum fallbacks
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Use assert in Docker build test (#3176)
  tests/mock_vws/test_docker.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use assert_never for enum fallbacks (#3177)
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vwq.py
  src/mock_vws/_flask_server/vws.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Bump strict-kwargs and use diff mode
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix, yamlfix

Ban dynamic builtins and typing.cast in lint config.
  pyproject.toml
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Revert __dict__.get and __getattribute__ to getattr with inline disables.
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Disable unsafe Pylint extension loading
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Drive changelog releases from towncrier
  .github/workflows/release.yml
  CHANGELOG.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/unreleased.rst
  docs/towncrier_template.rst.jinja
  newsfragments/.gitkeep
  pyproject.toml
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Add towncrier to release extra
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Make useless Pylint suppressions fail lint
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Add Model Target Web API mock
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.rst
  admin/create_secrets_files.py
  docs/source/differences-to-vws.rst
  newsfragments/2114.change
  pyproject.toml
  secrets.tar.gpg
  spelling_private_dict.txt
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
  tests/mock_vws/test_target_validators.py
  vuforia_secrets.env.example
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Add Model Target Web API mock (#3191)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.rst
  admin/create_secrets_files.py
  docs/source/differences-to-vws.rst
  newsfragments/2114.change
  pyproject.toml
  secrets.tar.gpg
  spelling_private_dict.txt
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  src/mock_vws/target_manager.py
  tests/mock_vws/fixtures/credentials.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_docker.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
  tests/mock_vws/test_target_validators.py
  vuforia_secrets.env.example
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Improve Model Target auth fidelity
  docs/source/differences-to-vws.rst
  newsfragments/3192.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Improve Model Target auth fidelity (#3198)
  docs/source/differences-to-vws.rst
  newsfragments/3192.change
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Match real Vuforia Model Target error responses
  docs/source/differences-to-vws.rst
  newsfragments/3193.change
  newsfragments/3194.change
  newsfragments/3197.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix pylint spelling: Unparseable -> Malformed
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Require target and details kwargs in Model Target _error_response
  src/mock_vws/_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Match real Vuforia Model Target error responses (#3203)
  docs/source/differences-to-vws.rst
  newsfragments/3193.change
  newsfragments/3194.change
  newsfragments/3197.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Apply pyproject-fmt 2.23.0 formatting changes.
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove unnecessary pyright ignore comments for torch.tensor
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump pyright to 1.1.410
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Bump pyright to 1.1.410 and drop now-unnecessary ignore comments (#3216)
  pyproject.toml
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix strict-kwargs pre-commit hook entry for new CLI
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Retry transient Vuforia setup failures
  conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry transient Vuforia setup failures (#3222)
  conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix ty type errors in header tests
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_date_header.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix ty type errors in header tests (#3249)
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_date_header.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Remove obsolete bdist_wheel.universal setting.
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove obsolete bdist_wheel.universal setting. (#3281)
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Configure newly enabled Ruff rules
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix
