Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Combine wrapped sentence flagged by Vale 3.18.0.
  docs/source/differences-to-vws.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bump vws-test-fixtures to 2026.8.26
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Return BadImage for a truncated image (#3498)
  .github/workflows/test.yml
  newsfragments/3498.change
  src/mock_vws/_services_validators/image_validators.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Switch hadolint to hadolint-coatl in the dev extra
  prek.toml
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

chore(deps): Bump strict-kwargs from 2026.8.23 to 2026.8.27.post2
  pyproject.toml
  uv.lock
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Respond to non-UTF-8 and truncated bodies (#3392)
  .github/workflows/test.yml
  newsfragments/3392.change
  src/mock_vws/_query_tools.py
  src/mock_vws/_query_validators/exceptions.py
  src/mock_vws/_query_validators/fields_validators.py
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_query_validators/include_target_data_validators.py
  src/mock_vws/_query_validators/multipart.py
  src/mock_vws/_query_validators/num_results_validators.py
  src/mock_vws/_services_validators/json_validators.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Order Query API results by match score
  docs/source/differences-to-vws.rst
  newsfragments/3386.change
  spelling_private_dict.txt
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_matching.py
  src/mock_vws/_query_tools.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/decorators.py
  src/mock_vws/image_matchers.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Replace suspended Vuforia cloud database in CI secrets 5
  secrets.tar.gpg
Due: none

Make recognition counts seedable so reco reports can be non-empty
  docs/source/differences-to-vws.rst
  docs/source/docker.rst
  newsfragments/3356.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_reco_counts_web_api.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/decorators.py
  src/mock_vws/reco_counts.py
  src/mock_vws/target.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_reco_counts_report.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/utils/recognition_counts.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Make towncrier reject invalid fragment suffixes
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Skip signed Model Target requests against real Vuforia by default
  docs/source/contributing.rst
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Bound test endpoint request timeouts
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Report unexpected training allowance rejections as xfail
  docs/source/contributing.rst
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Cover Model Target CI fallback paths
  docs/source/contributing.rst
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Cover VuMark database and no-timeout delay decorator paths
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry transient failures within summary and query polling loops
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Resolve the request's database once per set of validators
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/database_id_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/request_quota_validators.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/_services_validators/target_quota_validators.py
  src/mock_vws/_services_validators/target_validators.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry transient failures within summary and query polling loops (#3525)
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_query.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Resolve the request's database once per set of validators (#3526)
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/auth_validators.py
  src/mock_vws/_services_validators/database_id_validators.py
  src/mock_vws/_services_validators/name_validators.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/request_quota_validators.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/_services_validators/target_quota_validators.py
  src/mock_vws/_services_validators/target_validators.py
  tests/mock_vws/test_target_validators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate target manager API request bodies
  newsfragments/3394.change
  pyproject.toml
  src/mock_vws/_flask_server/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Add enum and pydantic to the spelling dictionary
  spelling_private_dict.txt
Due: none

Validate target manager API request bodies (#3528)
  newsfragments/3394.change
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/_flask_server/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
  uv.lock
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Cover the reco counts report endpoint in the cross-cutting endpoint tests
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry transient failures for safe real Model Target requests
  .github/workflows/test.yml
  conftest.py
  docs/source/contributing.rst
  spelling_private_dict.txt
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/model_target_retries.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Fix spelling check failures in the retry policy documentation
  docs/source/contributing.rst
  spelling_private_dict.txt
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Build the Model Target retry policy on tenacity
  docs/source/contributing.rst
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/utils/model_target_retries.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Retry transient failures for safe real Model Target requests (#3539)
  .github/workflows/test.yml
  conftest.py
  docs/source/contributing.rst
  spelling_private_dict.txt
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_model_target_retries.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/model_target_retries.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Split the test_invalid_json CI job into its three cases
  .github/workflows/test.yml
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Avoid a word the docstring spell checker rejects
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Retry a target which Real Vuforia has not yet made visible
  tests/conftest.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Split the test_invalid_json CI job into its three cases (#3541)
  .github/workflows/test.yml
  tests/mock_vws/test_invalid_json.py
Due: custom-linters, actionlint, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix, yamlfix

Retry a target which Real Vuforia has not yet made visible (#3542)
  tests/conftest.py
  tests/mock_vws/utils/retries.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Cover the reco counts report endpoint in the cross-cutting endpoint tests (#3538)
  tests/conftest.py
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Skip unavailable real Vuforia endpoints in tests
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Limit direct contract requests to five seconds
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Skip unavailable signed and malformed live cases
  docs/source/contributing.rst
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Retry transient summary requests and skip signed states
  tests/mock_vws/test_database_summary.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Skip exhausted real Model Target allowance
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Clarify summary retry documentation
  tests/mock_vws/test_database_summary.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Skip malformed real requests before fixture setup
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
