Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, doc8, interrogate, pyproject-fmt-fix

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-format-fix: any of: \.py$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$

Make Endpoint frozen - immutable means less potential for bugs
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Move the only prepared request work to Endpoint class
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/utils/__init__.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make helper functions take custom response type - isolating requests
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/too_many_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Fix case on one test
  src/mock_vws/_services_validators/exceptions.py
  tests/mock_vws/test_content_length.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove use of raise_for_status
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Reduce reliance of requests-specific methods in tests
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove some isinstance checks
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Remove unnecessary isinstance checks
  tests/mock_vws/test_query.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Make handle_server_errors take new Response type
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/utils/too_many_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Bump vws-python
  pyproject.toml
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/test_update_target.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/too_many_requests.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Bump VWS-Python and use tell position
  pyproject.toml
  tests/mock_vws/test_authorization_header.py
  tests/mock_vws/test_content_length.py
  tests/mock_vws/test_date_header.py
  tests/mock_vws/test_invalid_given_id.py
  tests/mock_vws/test_invalid_json.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_unexpected_json.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Use kwarg for .decode(
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Use keyword arguments for parametrize calls
  tests/mock_vws/test_add_target.py
  tests/mock_vws/test_query.py
  tests/mock_vws/test_target_raters.py
  tests/mock_vws/test_target_summary.py
  tests/mock_vws/test_update_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Untie error raised by decorator from `requests`
  docs/source/conf.py
  docs/source/mock-api-reference.rst
  src/mock_vws/__init__.py
  src/mock_vws/_requests_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, doc8, interrogate

Add format changes with diff
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Remove bogus verifytypes
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Run documentation tests on CI
  .github/workflows/skip-tests.yml
  .github/workflows/windows-ci.yml
Due: custom-linters, actionlint

Add shellcheck pre-commit hook
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Fix the GitHub workflow badge to refer to the right branch
  README.rst
Due: doc8

Specify Python module use in pre-commit hooks
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Switch from code to code-block, for consistency
  README.rst
Due: doc8

Switch from code-block: sh to code-block: shell - get syntax highlighting
  README.rst
Due: doc8

Remove outdated reference to DC/OS E2E
  docs/Makefile
Due: none

Be careful when releasing to not accidentally commit to a file
  .github/workflows/release.yml
Due: custom-linters, actionlint

Run linters against documentation source
  .pre-commit-config.yaml
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, pyproject-fmt-fix

Progress towards passing lint
  README.rst
  docs/source/basic-example.rst
Due: doc8

Fix some lint issues
  README.rst
  docs/source/basic-example.rst
Due: doc8

Fix some lint issues
  .pre-commit-config.yaml
  docs/source/basic-example.rst
  pyproject.toml
Due: custom-linters, actionlint, mypy, pyright, pyroma, doc8, pyproject-fmt-fix

Remove pre-commit check-only hooks when we have an auto-fixer
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Add shellcheck-py so that GitHub workflow files get linted for shell issues
  .gitignore
  pyproject.toml
Due: mypy, pyright, pyroma, pyproject-fmt-fix

Remove no-longer-needed handling of .eggs directory in Vulture
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Replace `read` with `getvalue` where possible
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/test_add_target.py
Due: custom-linters, mypy, pyright, pyright-verifytypes, vulture, ruff-check-fix, ruff-format-fix, interrogate

Set Vulture to be more strict
  .pre-commit-config.yaml
  admin/create_secrets_files.py
  ci/test_custom_linters.py
  pyproject.toml
  src/mock_vws/_constants.py
  tests/mock_vws/fixtures/vuforia_backends.py
Due: custom-linters, actionlint, mypy, pyright, pyright-verifytypes, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix

Do not specify directories for `interrogate`
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Use vulture on docs
  .pre-commit-config.yaml
Due: custom-linters, actionlint

Simplify release script by removing unnecessary intermediary variables
  .github/workflows/release.yml
Due: custom-linters, actionlint

Simplify release script by removing unnecessary git fetch tags command
  .github/workflows/release.yml
Due: custom-linters, actionlint

Add back required part of the command
  .github/workflows/release.yml
Due: custom-linters, actionlint
