Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Fix strict-kwargs pre-commit hook
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Make Model Target downloads reproducible
  newsfragments/3195.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add request quota exhaustion support
  docs/source/differences-to-vws.rst
  newsfragments/53.change
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/request_quota_validators.py
  src/mock_vws/database.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix request quota test lint
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Handle expired Model Target CI credentials
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add RequestQuotaReached support (#3305)
  docs/source/differences-to-vws.rst
  newsfragments/53.change
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/request_quota_validators.py
  src/mock_vws/database.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Skip invalid real Model Target credentials
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add more configurable VWS result codes
  docs/source/differences-to-vws.rst
  newsfragments/3306.change
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_quota_validators.py
  src/mock_vws/database.py
  src/mock_vws/states.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Make Model Target downloads reproducible (#3304)
  newsfragments/3195.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add more configurable VWS result codes (#3307)
  docs/source/differences-to-vws.rst
  newsfragments/3306.change
  src/mock_vws/_constants.py
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/project_state_validators.py
  src/mock_vws/_services_validators/target_quota_validators.py
  src/mock_vws/database.py
  src/mock_vws/states.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Install uv in release job
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/2114.change
  newsfragments/3192.change
  newsfragments/3193.change
  newsfragments/3194.change
  newsfragments/3195.change
  newsfragments/3197.change
  newsfragments/3306.change
  newsfragments/53.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Keep Model Target status responses consistent
  newsfragments/3194.change
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add configurable VWS request rate limits
  docs/source/differences-to-vws.rst
  newsfragments/3308.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/database.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add configurable VWS request rate limits (#3311)
  docs/source/differences-to-vws.rst
  newsfragments/3308.change
  src/mock_vws/_flask_server/target_manager.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/_services_validators/__init__.py
  src/mock_vws/_services_validators/exceptions.py
  src/mock_vws/_services_validators/request_rate_validators.py
  src/mock_vws/database.py
  src/mock_vws/target_manager.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Keep Model Target status responses consistent (#3309)
  newsfragments/3194.change
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate Model Target JWT headers
  docs/source/differences-to-vws.rst
  newsfragments/3192.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Replace PyTorch image metrics with OpenCV
  newsfragments/opencv-quality.change
  pyproject.toml
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-format-fix, pyproject-fmt-fix

Fix Pylint spelling check
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Update installation documentation
  docs/source/installation.rst
  newsfragments/opencv-quality.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Replace PyTorch image metrics with OpenCV (#3313)
  docs/source/installation.rst
  newsfragments/opencv-quality.change
  pyproject.toml
  src/mock_vws/image_matchers.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Support configurable Cloud Query failures
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/3314.change
  src/mock_vws/__init__.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/cloud_query.py
  tests/mock_vws/test_cloud_query_failure_response.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Support configurable Cloud Query failures (#3315)
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/3314.change
  src/mock_vws/__init__.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_query_api.py
  src/mock_vws/cloud_query.py
  tests/mock_vws/test_cloud_query_failure_response.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3194.change
  newsfragments/3308.change
  newsfragments/3314.change
  newsfragments/opencv-quality.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target JWT headers (#3312)
  docs/source/differences-to-vws.rst
  newsfragments/3192.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add configurable VuMark generation failures
  docs/source/mock-api-reference.rst
  newsfragments/vumark-generation-failure.change
  src/mock_vws/__init__.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/vumark.py
  tests/mock_vws/test_vumark_generation_failure.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Run VuMark failure tests in CI
  .github/workflows/test.yml
Due: custom-linters, actionlint, yamlfix

Add configurable VuMark generation failures (#3316)
  .github/workflows/test.yml
  docs/source/mock-api-reference.rst
  newsfragments/vumark-generation-failure.change
  src/mock_vws/__init__.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/vumark.py
  tests/mock_vws/test_vumark_generation_failure.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Install uv in release workflow
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Install uv in release workflow (#3317)
  .github/workflows/release.yml
Due: custom-linters, actionlint, yamlfix

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/2114.change
  newsfragments/3192.change
  newsfragments/3193.change
  newsfragments/3194.change
  newsfragments/3195.change
  newsfragments/3197.change
  newsfragments/3306.change
  newsfragments/3308.change
  newsfragments/3314.change
  newsfragments/53.change
  newsfragments/opencv-quality.change
  newsfragments/vumark-generation-failure.change
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Satisfy hadolint numeric user check
  src/mock_vws/_flask_server/Dockerfile
Due: none

Add configurable Model Target generation failures
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/model-target-generation-failure.change
  src/mock_vws/__init__.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_generation_failure.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Require explicit Model Target generation failure
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add configurable Model Target generation failures (#3319)
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/model-target-generation-failure.change
  src/mock_vws/__init__.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_generation_failure.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Validate Model Target JWT payloads
  docs/source/differences-to-vws.rst
  newsfragments/model-target-jwt-payload.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Validate Model Target JWT payloads (#3320)
  docs/source/differences-to-vws.rst
  newsfragments/model-target-jwt-payload.change
  src/mock_vws/_model_target_web_api.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add Model Target generation warnings
  .github/workflows/test.yml
  docs/source/differences-to-vws.rst
  docs/source/mock-api-reference.rst
  newsfragments/model-target-generation-warning.change
  src/mock_vws/__init__.py
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_model_target_web_api.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/model_target.py
  tests/mock_vws/test_model_target_generation_warning.py
  tests/mock_vws/test_model_target_web_api.py
Due: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, yamlfix, sphinx-lint

Use prek-native lint and autofix workflows
  .github/dependabot.yml
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: custom-linters, actionlint, yamlfix

Use action release tags
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
Due: custom-linters, actionlint, yamlfix
