Repository VWS-Python/vws-python-mock: changes, and which pre-commit hooks are due for each by the changed paths.
All: custom-linters, actionlint, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, yamlfix, sphinx-lint

Path conditions:
  custom-linters: any of: \.(yaml|yml)$, \.py$
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyright-verifytypes: any of: \.py$
  vulture: any of: \.py$
  vulture-docs: any of: \.py$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$

Enforce keyword-only arguments in test helper
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add @beartype to test helper functions
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/usage_test_helpers.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enforce keyword-only arguments in test helper (#2987)
  tests/mock_vws/fixtures/prepared_requests.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add @beartype to test helper functions (#2988)
  tests/mock_vws/fixtures/prepared_requests.py
  tests/mock_vws/fixtures/vuforia_backends.py
  tests/mock_vws/utils/__init__.py
  tests/mock_vws/utils/assertions.py
  tests/mock_vws/utils/usage_test_helpers.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enforce keyword-only arguments in `make_image_file`
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Enforce keyword-only arguments in `make_image_file` (#2989)
  tests/mock_vws/utils/__init__.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Validate target status for VuMark instance generation (#2981)
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/target.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add tests for VuMark target status validation and serialization
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix PytestAssertRewriteWarning for credentials fixture module
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add documentation for MockVWSForHttpx
  README.rst
  docs/source/getting-started.rst
  docs/source/httpx-example.rst
  docs/source/index.rst
  docs/source/mock-api-reference.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add Flask app test for VuMark target status validation
  tests/mock_vws/test_flask_app_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix PytestAssertRewriteWarning for credentials fixture module (#2992)
  tests/conftest.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Add respx support for mocking httpx requests (#2973)
  README.rst
  docs/source/getting-started.rst
  docs/source/httpx-example.rst
  docs/source/index.rst
  docs/source/mock-api-reference.rst
  pyproject.toml
  spelling_private_dict.txt
  src/mock_vws/__init__.py
  src/mock_vws/_respx_mock_server/__init__.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Validate target status for VuMark instance generation (#2991)
  src/mock_vws/_flask_server/vws.py
  src/mock_vws/_requests_mock_server/mock_web_services_api.py
  src/mock_vws/database.py
  src/mock_vws/target.py
  tests/mock_vws/test_flask_app_usage.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_vumark_generation_api.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump CHANGELOG
  CHANGELOG.rst
Due: shellcheck-docs, shfmt-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix urljoin bug with base URL path prefixes
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix bytes branch never reached in respx callback
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix pylint spelling: vumark -> VuMark in docstring
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix urljoin bug with base URL path prefixes (#2994)
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix path prefix stripping for base URL with path prefix
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Fix path prefix stripping for base URL with path prefix (#2996)
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump vws-web-tools to 2026.2.22 and refactor secrets file creation
  admin/create_secrets_files.py
  docs/source/contributing.rst
  pyproject.toml
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Simplify _fetch_inactive_database_details to match existing helper pattern
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Make MockVWS intercept both requests and httpx
  CHANGELOG.rst
  README.rst
  docs/source/basic-example.rst
  docs/source/getting-started.rst
  docs/source/httpx-example.rst
  docs/source/index.rst
  docs/source/mock-api-reference.rst
  src/mock_vws/__init__.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Fix pylint C0413 and C0402 in respx decorators
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Bump vws-web-tools to 2026.2.22 (#2997)
  admin/create_secrets_files.py
  docs/source/contributing.rst
  pyproject.toml
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix, sphinx-lint

Suppress pyrefly false positive with inline ignore comments
  src/mock_vws/_requests_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Use context manager for PIL Image.open to ensure proper resource cleanup
  src/mock_vws/_query_validators/image_validators.py
  src/mock_vws/_services_validators/image_validators.py
  src/mock_vws/image_matchers.py
  src/mock_vws/target.py
  src/mock_vws/target_raters.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Replace concrete type imports with Protocol to fix pyrefly false positive
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Make MockVWS intercept both requests and httpx (#2998)
  CHANGELOG.rst
  README.rst
  docs/source/basic-example.rst
  docs/source/getting-started.rst
  docs/source/httpx-example.rst
  docs/source/index.rst
  docs/source/mock-api-reference.rst
  src/mock_vws/__init__.py
  src/mock_vws/_mock_common.py
  src/mock_vws/_requests_mock_server/decorators.py
  src/mock_vws/_respx_mock_server/decorators.py
  tests/mock_vws/test_requests_mock_usage.py
  tests/mock_vws/test_respx_mock_usage.py
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Consolidate timeout handling and add step logging
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Consolidate timeout handling and add step logging (#2999)
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Create inactive databases by deleting their licenses
  admin/create_secrets_files.py
  docs/source/contributing.rst
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Create inactive database once and reuse across all secrets files
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Create inactive databases by deleting their licenses (#3001)
  admin/create_secrets_files.py
  docs/source/contributing.rst
Due: custom-linters, docformatter, shellcheck-docs, shfmt-docs, mypy, mypy-docs, pyright, pyright-docs, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate-docs, sphinx-lint

Add test for inactive database in VuMark generation API
  tests/mock_vws/test_vumark_generation.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix

Refactor variable names to clarify cloud databases
  admin/create_secrets_files.py
Due: custom-linters, docformatter, mypy, pyright, pyright-verifytypes, vulture, vulture-docs, ruff-check-fix, ruff-format-fix
